In [0]:
PySpark Aggregate Functions with Examples
PySpark provides built-in standard Aggregate functions defines in DataFrame API, these come in handy when we need to make aggregate operations on DataFrame columns. Aggregate functions operate on a group of rows and calculate a single return value for every group.

All these aggregate functions accept input as, Column type or column name in a string and several other arguments based on the function and return Column type.
When possible try to leverage standard library as they are little bit more compile-time safety, handles null and perform better when compared to UDF’s. If your application is critical on performance try to avoid using custom UDF at all costs as these are not guarantee on performance.

PySpark Aggregate Functions
PySpark SQL Aggregate functions are grouped as “agg_funcs” in Pyspark. Below is a list of functions defined under this group. Click on each link to learn with example.
PySpark Aggregate Functions Examples
First, let’s create a DataFrame to work with PySpark aggregate functions. All examples provided here are also available at PySpark Examples GitHub project.
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df = spark.createDataFrame(data=simpleData, schema = schema)
df.printSchema()
df.show(truncate=False)

In [0]:
approx_count_distinct Aggregate Function
In PySpark approx_count_distinct() function returns the count of distinct items in a group.
//approx_count_distinct()
print("approx_count_distinct: " + \
      str(df.select(approx_count_distinct("salary")).collect()[0][0]))

//Prints approx_count_distinct: 6

avg (average) Aggregate Function
avg() function returns the average of values in the input column.
//avg
print("avg: " + str(df.select(avg("salary")).collect()[0][0]))

//Prints avg: 3400.0

collect_list Aggregate Function
collect_list() function returns all values from an input column with duplicates.

countDistinct Aggregate Function
countDistinct() function returns the number of distinct elements in a columns

count function
count() function returns number of elements in a column.
print("count: "+str(df.select(count("salary")).collect()[0]))

Prints county: 10

grouping function
grouping() Indicates whether a given input column is aggregated or not. returns 1 for aggregated or 0 for not aggregated in the result. If you try grouping directly on the salary column you will get below error.
Exception in thread "main" org.apache.spark.sql.AnalysisException:
  // grouping() can only be used with GroupingSets/Cube/Rollup
first function
first() function returns the first element in a column when ignoreNulls is set to true, it returns the first non-null element.

//first
df.select(first("salary")).show(truncate=False)
last function
last() function returns the last element in a column. when ignoreNulls is set to true, it returns the last non-null element.
//last
df.select(last("salary")).show(truncate=False)
max function
max() function returns the maximum value in a column.
df.select(max("salary")).show(truncate=False)
min function
min() function
df.select(min("salary")).show(truncate=False)
sum function
sum() function Returns the sum of all values in a column.
df.select(sum("salary")).show(truncate=False)
sumDistinct function
sumDistinct() function returns the sum of all distinct values in a column.
df.select(sumDistinct("salary")).show(truncate=False)

In [0]:
import pyspark 
from pyspark.sql.functions import col,avg,approx_count_distinct,collect_list,collect_set,countDistinct,count,first,last,min,max,sum,sum_distinct
simpleData = [("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
  ]
schema = ["employee_name", "department", "salary"]
df=spark.createDataFrame(data = simpleData,schema = schema)
df.show()
print("approx_count_distinct: "+\
    str(df.select(approx_count_distinct("salary")).collect()[0][0]
     ))

print("avg: "+str(df.select(avg("salary")).collect()[0][0]))

df.select(collect_list("salary")).show(truncate = False)
df.select(collect_set("salary")).show(truncate = False)
df.select(countDistinct("department","salary")).show(truncate = False)
print("countDistinct:"+str(df.select(countDistinct("department","salary")).collect()[0][0]))
print("count:"+str(df.select(count("salary")).collect()[0][0]))
df.select(first("salary")).show()
df.select(last("salary")).show()
df.select(min("salary")).show()
df.select(max("salary")).show()
df.select(sum("salary")).show()
df.select(sum_distinct("salary")).show()

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

approx_count_distinct: 6
avg: 3400.0
+------------------------------------------------------------+
|collect_list(salary)                                        |
+------------------------------------------------------------+
|[3000, 4600, 4100, 3000, 3000, 3300, 3900, 3000, 2000, 4100]|
+------------------------------------------------------------+

+------------------------------------+
|collect_set(salary)                 |
+------------------------------------+
|[4600, 3000, 3900, 4100, 3300, 2000]|
+------------------------------------+

+----------------------------------+
|count(DISTINCT department, salary)|
+----------------------------------+
|8                                 |
+----------------------------------+

countDistinct:8
count:10
+-------------+
|first(salary)|
+-------------+
|         3000|
+-------------+

+------------+
|last(salary)|
+------------+
|        4100|
+------------+

+-----------+
|min(salary)|
+-----------+
|       2000|
+-----------+

+-----------+
|max(salary)|
+-----------+
|       4600|
+-----------+

+-----------+
|sum(salary)|
+-----------+
|      34000|
+-----------+

+--------------------+
|sum(DISTINCT salary)|
+--------------------+
|               20900|
+--------------------+

In [0]:
PySpark Window Functions
PySpark Window functions are used to calculate results such as the rank, row number e.t.c over a range of input rows. In this article, I’ve explained the concept of window functions, syntax, and finally how to use them with PySpark SQL and PySpark DataFrame API. These come in handy when we need to make aggregate operations in a specific window frame on DataFrame columns.

When possible try to leverage standard library as they are little bit more compile-time safety, handles null and perform better when compared to UDF’s. If your application is critical on performance try to avoid using custom UDF at all costs as these are not guarantee on performance
1. Window Functions
PySpark Window functions operate on a group of rows (like frame, partition) and return a single value for every input row. PySpark SQL supports three kinds of window functions:

ranking functions
analytic functions
aggregate functions
The below table defines Ranking and Analytic functions and for aggregate functions, we can use any existing aggregate functions as a window function.
To perform an operation on a group first, we need to partition the data using Window.partitionBy() , and for row number and rank function we need to additionally order by on partition data using orderBy clause.
Click on each link to know more about these functions along with the Scala examples.

WINDOW FUNCTIONS USAGE & SYNTAX	PYSPARK WINDOW FUNCTIONS DESCRIPTION
row_number(): Column	Returns a sequential number starting from 1 within a window partition
rank(): Column	Returns the rank of rows within a window partition, with gaps.
percent_rank(): Column	Returns the percentile rank of rows within a window partition.
dense_rank(): Column	Returns the rank of rows within a window partition without any gaps. Where as Rank() returns rank with gaps.
ntile(n: Int): Column	Returns the ntile id in a window partition
cume_dist(): Column	Returns the cumulative distribution of values within a window partition
lag(e: Column, offset: Int): Column
lag(columnName: String, offset: Int): Column
lag(columnName: String, offset: Int, defaultValue: Any): Column	returns the value that is `offset` rows before the current row, and `null` if there is less than `offset` rows before the current row.
lead(columnName: String, offset: Int): Column
lead(columnName: String, offset: Int): Column
lead(columnName: String, offset: Int, defaultValue: Any): Column	returns the value that is `offset` rows after the current row, and `null` if there is less than `offset` rows after the current row.

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("sparkbyexample.com").getOrCreate()
simpleData = (("James", "Sales", 3000), \
    ("Michael", "Sales", 4600),  \
    ("Robert", "Sales", 4100),   \
    ("Maria", "Finance", 3000),  \
    ("James", "Sales", 3000),    \
    ("Scott", "Finance", 3300),  \
    ("Jen", "Finance", 3900),    \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000),\
    ("Saif", "Sales", 4100) \
  )
columns1 = ["employee_name","department","salary"]
df10 = spark.createDataFrame(data =simpleData, schema = columns1)
df10.show(truncate = False)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

In [0]:
2. PySpark Window Ranking functions
2.1 row_number Window Function
row_number() window function is used to give the sequential row number starting from 1 to the result of each window partition.
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowSpec  = Window.partitionBy("department").orderBy("salary")

df.withColumn("row_number",row_number().over(windowSpec)) \
    .show(truncate=False)
2.2 rank Window Function
rank() window function is used to provide a rank to the result within a window partition. This function leaves gaps in rank when there are ties.
"""rank"""
from pyspark.sql.functions import rank
df.withColumn("rank",rank().over(windowSpec)) \
    .show()
2.3 dense_rank Window Function
dense_rank() window function is used to get the result with rank of rows within a window partition without any gaps. This is similar to rank() function difference being rank function leaves gaps in rank when there are ties.
"""dens_rank"""
from pyspark.sql.functions import dense_rank
df.withColumn("dense_rank",dense_rank().over(windowSpec)) \
    .show()
2.4 percent_rank Window Function
""" percent_rank """
from pyspark.sql.functions import percent_rank
df.withColumn("percent_rank",percent_rank().over(windowSpec)) \
    .show()
2.5 ntile Window Function
ntile() window function returns the relative rank of result rows within a window partition. In below example we have used 2 as an argument to ntile hence it returns ranking between 2 values (1 and 2)
"""ntile"""
from pyspark.sql.functions import ntile
df.withColumn("ntile",ntile(2).over(windowSpec)) \
    .show()
3. PySpark Window Analytic functions
3.1 cume_dist Window Function
cume_dist() window function is used to get the cumulative distribution of values within a window partition.

This is the same as the DENSE_RANK function in SQL.
""" cume_dist """
from pyspark.sql.functions import cume_dist    
df.withColumn("cume_dist",cume_dist().over(windowSpec)) \
   .show()
3.2 lag Window Function
This is the same as the LAG function in SQL.
"""lag"""
from pyspark.sql.functions import lag    
df.withColumn("lag",lag("salary",2).over(windowSpec)) \
      .show()
3.3 lead Window Function
This is the same as the LEAD function in SQL.
 """lead"""
from pyspark.sql.functions import lead    
df.withColumn("lead",lead("salary",2).over(windowSpec)) \
    .show()
4. PySpark Window Aggregate Functions
In this section, I will explain how to calculate sum, min, max for each department using PySpark SQL Aggregate window functions and WindowSpec. When working with Aggregate functions, we don’t need to use order by clause.
windowSpecAgg  = Window.partitionBy("department")
from pyspark.sql.functions import col,avg,sum,min,max,row_number 
df.withColumn("row",row_number().over(windowSpec)) \
  .withColumn("avg", avg(col("salary")).over(windowSpecAgg)) \
  .withColumn("sum", sum(col("salary")).over(windowSpecAgg)) \
  .withColumn("min", min(col("salary")).over(windowSpecAgg)) \
  .withColumn("max", max(col("salary")).over(windowSpecAgg)) \
  .where(col("row")==1).select("department","avg","sum","min","max") \
  .show()

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
windowspec=Window.partitionBy("department").orderBy("salary")
df10.show()
windowspec=Window.partitionBy("department").orderBy("salary")
df10.withColumn("row_number",row_number().over(windowspec)).show(truncate=False)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        James|     Sales|  3000|
|      Michael|     Sales|  4600|
|       Robert|     Sales|  4100|
|        Maria|   Finance|  3000|
|        James|     Sales|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|         Jeff| Marketing|  3000|
|        Kumar| Marketing|  2000|
|         Saif|     Sales|  4100|
+-------------+----------+------+

+-------------+----------+------+----------+
|employee_name|department|salary|row_number|
+-------------+----------+------+----------+
|Maria        |Finance   |3000  |1         |
|Scott        |Finance   |3300  |2         |
|Jen          |Finance   |3900  |3         |
|Kumar        |Marketing |2000  |1         |
|Jeff         |Marketing |3000  |2         |
|James        |Sales     |3000  |1         |
|James        |Sales     |3000  |2         |
|Robert       |Sales     |4100  |3         |
|Saif         |Sales     |4100  |4         |
|Michael      |Sales     |4600  |5         |
+-------------+----------+------+----------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number,rank
windowsec1 = Window.partitionBy("department").orderBy("salary")
df10.withColumn("rank",rank().over(windowsec1))\
    .withColumn("row_number",row_number().over(windowsec1)).show(truncate = False)

+-------------+----------+------+----+----------+
|employee_name|department|salary|rank|row_number|
+-------------+----------+------+----+----------+
|Maria        |Finance   |3000  |1   |1         |
|Scott        |Finance   |3300  |2   |2         |
|Jen          |Finance   |3900  |3   |3         |
|Kumar        |Marketing |2000  |1   |1         |
|Jeff         |Marketing |3000  |2   |2         |
|James        |Sales     |3000  |1   |1         |
|James        |Sales     |3000  |1   |2         |
|Robert       |Sales     |4100  |3   |3         |
|Saif         |Sales     |4100  |3   |4         |
|Michael      |Sales     |4600  |5   |5         |
+-------------+----------+------+----+----------+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number,rank,dense_rank
windowspec2 = Window.partitionBy("department").orderBy("salary")
df10.withColumn("dense_rank",dense_rank().over(windowspec2))\
    .withColumn("row_number",row_number().over(windowspec2))\
    .withColumn("rank",rank().over(windowspec2)).show(truncate = False)

+-------------+----------+------+----------+----------+----+
|employee_name|department|salary|dense_rank|row_number|rank|
+-------------+----------+------+----------+----------+----+
|Maria        |Finance   |3000  |1         |1         |1   |
|Scott        |Finance   |3300  |2         |2         |2   |
|Jen          |Finance   |3900  |3         |3         |3   |
|Kumar        |Marketing |2000  |1         |1         |1   |
|Jeff         |Marketing |3000  |2         |2         |2   |
|James        |Sales     |3000  |1         |1         |1   |
|James        |Sales     |3000  |1         |2         |1   |
|Robert       |Sales     |4100  |2         |3         |3   |
|Saif         |Sales     |4100  |2         |4         |3   |
|Michael      |Sales     |4600  |3         |5         |5   |
+-------------+----------+------+----------+----------+----+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import ntile,percent_rank,row_number,rank,dense_rank
windowspec = Window.partitionBy("department").orderBy("salary")
df10.withColumn("percent_rank",percent_rank().over(windowspec))\
    .withColumn("dense_rank",dense_rank().over(windowspec))\
    .withColumn("rank",rank().over(windowspec))\
    .withColumn("row_number",row_number().over(windowspec))\
    .withColumn("ntile",ntile(3).over(windowspec)).show(truncate = False)

+-------------+----------+------+------------+----------+----+----------+-----+
|employee_name|department|salary|percent_rank|dense_rank|rank|row_number|ntile|
+-------------+----------+------+------------+----------+----+----------+-----+
|Maria        |Finance   |3000  |0.0         |1         |1   |1         |1    |
|Scott        |Finance   |3300  |0.5         |2         |2   |2         |2    |
|Jen          |Finance   |3900  |1.0         |3         |3   |3         |3    |
|Kumar        |Marketing |2000  |0.0         |1         |1   |1         |1    |
|Jeff         |Marketing |3000  |1.0         |2         |2   |2         |2    |
|James        |Sales     |3000  |0.0         |1         |1   |1         |1    |
|James        |Sales     |3000  |0.0         |1         |1   |2         |1    |
|Robert       |Sales     |4100  |0.5         |2         |3   |3         |2    |
|Saif         |Sales     |4100  |0.5         |2         |3   |4         |2    |
|Michael      |Sales     |4600  |1.0         |3         |5   |5         |3    |
+-------------+----------+------+------------+----------+----+----------+-----+

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import lag,lead,cume_dist,percent_rank,dense_rank,rank,row_number,ntile
windowspec3 =Window.partitionBy("department").orderBy("salary")
df10.withColumn("cume_dist",cume_dist().over(windowspec3))\
    .withColumn("lead",lead("salary").over(windowspec3))\
    .withColumn("lead1",lead("salary",2).over(windowspec3))\
    .withColumn("lag",lag("salary").over(windowspec3))\
    .withColumn("lag1",lag("salary",2).over(windowspec3)).show(truncate = False)

+-------------+----------+------+------------------+----+-----+----+----+
|employee_name|department|salary|cume_dist         |lead|lead1|lag |lag1|
+-------------+----------+------+------------------+----+-----+----+----+
|Maria        |Finance   |3000  |0.3333333333333333|3300|3900 |null|null|
|Scott        |Finance   |3300  |0.6666666666666666|3900|null |3000|null|
|Jen          |Finance   |3900  |1.0               |null|null |3300|3000|
|Kumar        |Marketing |2000  |0.5               |3000|null |null|null|
|Jeff         |Marketing |3000  |1.0               |null|null |2000|null|
|James        |Sales     |3000  |0.4               |3000|4100 |null|null|
|James        |Sales     |3000  |0.4               |4100|4100 |3000|null|
|Robert       |Sales     |4100  |0.8               |4100|4600 |3000|3000|
|Saif         |Sales     |4100  |0.8               |4600|null |4100|3000|
|Michael      |Sales     |4600  |1.0               |null|null |4100|4100|
+-------------+----------+------+------------------+----+-----+----+----+