In [0]:
columns = ["language","user_count"]
data = [("java","20000"),("python","10000"),("scala","3000")]

In [0]:
first, let’s create a Spark RDD from a collection List by calling parallelize() function from SparkContext . We would need this rdd object for all our examples below.
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
rdd = spark.sparkContext.parallelize(data)

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
rdd = spark.sparkContext.parallelize(data)

In [0]:
dfFromRDD1= rdd.toDF()
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [0]:
columns = ["language","user_count"]
dfFromrRDD = rdd.toDF(columns)
dfFromrRDD.printSchema()

root
 |-- language: string (nullable = true)
 |-- user_count: string (nullable = true)

In [0]:

dfFromRDD2 = spark.createDataFrame(rdd).toDF(*columns)

In [0]:

dfFromData2 = spark.createDataFrame(data).toDF(*columns)

In [0]:
import pyspark
from pyspark.sql import Row
rowData = map(lambda x: Row(*x), data) 
dfFromData3 = spark.createDataFrame(rowData,columns)

In [0]:

from pyspark.sql.types import StructType,StructField, StringType, IntegerType
data2 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])
 
df = spark.createDataFrame(data=data2,schema=schema)
df.printSchema()
df.show(truncate=False)

In [0]:
import pyspark
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
data2 = [("James","","Smith",36636,"M",3000),
    ("Michael","Rose","",40288,"M",4000),
    ("Robert","","Williams",42114,"M",4000),
    ("Maria","Anne","Jones",39192,"F",4000),
    ("Jen","Mary","Brown",1234,"F",-1)]

schema = StructType([\
         StructField("firstname",StringType(),True), \
         StructField("middlename",StringType(),True), \
         StructField("lastname",StringType(),True), \
         StructField("id",IntegerType(),True), \
         StructField("gender",StringType(),True), \
         StructField("salary",IntegerType(),True) \
                 ])
df = spark.createDataFrame(data = data2,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |1234 |F     |-1    |
+---------+----------+--------+-----+------+------+

In [0]:
1. Create Empty RDD in PySpark
Create an empty RDD by using emptyRDD() of SparkContext for example spark.sparkContext.emptyRDD().

In [0]:

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

#Creates Empty RDD
emptyRDD = spark.sparkContext.emptyRDD()
print(emptyRDD)

#Diplays
#EmptyRDD[188] at emptyRDD

#Creates Empty RDD using parallelize
rdd2= spark.sparkContext.parallelize([])
print(rdd2)

#EmptyRDD[205] at emptyRDD at NativeMethodAccessorImpl.java:0
#ParallelCollectionRDD[206] at readRDDFromFile at PythonRDD.scala:262

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
#create empty RDD
emptyRDD = spark.sparkContext.emptyRDD()
print(emptyRDD)

EmptyRDD[2] at emptyRDD at NativeMethodAccessorImpl.java:0

In [0]:
emptyRRD2 = spark.sparkContext.Parallelize([])
print(emptyRDD2)

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-392957826950563> in <module>
----> 1 emptyRRD2 = spark.sparkContext.Parallelize([])
      2 print(emptyRDD2)

AttributeError: 'RemoteContext' object has no attribute 'Parallelize'

In [0]:
2. Create Empty DataFrame with Schema (StructType)
In order to create an empty PySpark DataFrame manually with schema ( column names & data types) first, Create a schema using StructType and StructField .

In [0]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DateType
schema = StructType([
    StructField('fisstname',StringType(), True),
    StructField('Lastname',StringType(),True),
    StructField('Middlename',StringType(),True),
    StructField('Id',IntegerType(),True),
    StructField('Date',DateType(),True)
])
#Now use the empty RDD created above and pass it to createDataFrame() of SparkSession along with the schema for column names & data types.
#create empty RRD
df= spark.createDataFrame(emptyRDD,schema)
df.printSchema()

root
 |-- fisstname: string (nullable = true)
 |-- Lastname: string (nullable = true)
 |-- Middlename: string (nullable = true)
 |-- Id: integer (nullable = true)
 |-- Date: date (nullable = true)

In [0]:
3. Convert Empty RDD to DataFrame
You can also create empty DataFrame by converting empty RDD to DataFrame using toDF().

In [0]:
#convert empty RDD to dataframe DF()
df1 = emptyRDD.toDF(schema)
df1.printSchema()

root
 |-- fisstname: string (nullable = true)
 |-- Lastname: string (nullable = true)
 |-- Middlename: string (nullable = true)
 |-- Id: integer (nullable = true)
 |-- Date: date (nullable = true)

In [0]:
4. Create Empty DataFrame with Schema.
So far I have covered creating an empty DataFrame from RDD, but here will create it manually with schema and without RDD.

In [0]:
df2 = spark.createDataFrame([],schema)
df2.printSchema()

root
 |-- fisstname: string (nullable = true)
 |-- Lastname: string (nullable = true)
 |-- Middlename: string (nullable = true)
 |-- Id: integer (nullable = true)
 |-- Date: date (nullable = true)

In [0]:
#5. Create Empty DataFrame without Schema (no columns)
#To create empty DataFrame with out schema (no columns) just create a empty schema and use it while creating PySpark DataFrame.

In [0]:
#create empty dataframe woth no schema(no columns)
df3= spark.createDataFrame([],StructType([]))
df3.printSchema()

root

In [0]:
#Convert PySpark RDD to DataFrame
#1. Create PySpark RDD
#First, let’s create an RDD by passing Python list object to sparkContext.parallelize() function. We would need this rdd object for all our examples below.

#In PySpark, when you have data in a list meaning you have a collection of data in a PySpark driver memory when you create an RDD, this collection is going to be parallelized.


from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
rdd = spark.sparkContext.parallelize(dept)

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
dept = [("finanace",10),("Marketing",20),("sales",30),("IT",40)]
rdd = spark.sparkContext.parallelize(dept)

In [0]:
2. Convert PySpark RDD to DataFrame
Converting PySpark RDD to DataFrame can be done using toDF(), createDataFrame(). In this section, I will explain these two methods.
2.1 Using rdd.toDF() function
PySpark provides toDF() function in RDD which can be used to convert RDD into Dataframe


df = rdd.toDF()
df.printSchema()
df.show(truncate=False)

In [0]:
df = rdd.toDF()
df.printSchema()
df.show(truncate=False)

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+---------+---+
|_1       |_2 |
+---------+---+
|finanace |10 |
|Marketing|20 |
|sales    |30 |
|IT       |40 |
+---------+---+

In [0]:
depColumns = [("dept_name"),("dept_id")]
df2 = rdd.toDF(depColumns)
df2.printSchema()
df2.show(truncate = False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|finanace |10     |
|Marketing|20     |
|sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:
2.2 Using PySpark createDataFrame() function
SparkSession class provides createDataFrame() method to create DataFrame and it takes rdd object as an argument.


deptDF = spark.createDataFrame(rdd, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

  File "<command-392957826950577>", line 1
    2.2 Using PySpark createDataFrame() function
        ^
SyntaxError: invalid syntax

In [0]:

deptDF = spark.createDataFrame(rdd,schema= depColumns)
deptDF.printSchema()
deptDF.show(truncate = False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|finanace |10     |
|Marketing|20     |
|sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:
import pyspark
from pyspark.sql.types  import StructType,StructField,StringType,IntegerType, DateType
deptschema = StructType([
    StructField("dept_name", StringType(),True),
    StructField("Dept_id",IntegerType(),True)
])

Df4 = spark.createDataFrame(rdd , schema = deptschema)
Df4.printSchema()
Df4.show(truncate = False)

root
 |-- dept_name: string (nullable = true)
 |-- Dept_id: integer (nullable = true)

+---------+-------+
|dept_name|Dept_id|
+---------+-------+
|finanace |10     |
|Marketing|20     |
|sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:

Convert PySpark DataFrame to Pandas

import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = [("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)]

columns = ["first_name","middle_name","last_name","dob","gender","salary"]
pysparkDF = spark.createDataFrame(data = data, schema = columns)
pysparkDF.printSchema()
pysparkDF.show(truncate=False)

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)
       ]
columns = ["first_name","middle_name","last_name","dob","gender","salary"]
pysparkDF = spark.createDataFrame(data = data , schema = columns)
pysparkDF.printSchema()
pysparkDF.show(truncate = False)

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|dob  |gender|salary|
+----------+-----------+---------+-----+------+------+
|James     |           |Smith    |36636|M     |60000 |
|Michael   |Rose       |         |40288|M     |70000 |
|Robert    |           |Williams |42114|      |400000|
|Maria     |Anne       |Jones    |39192|F     |500000|
|Jen       |Mary       |Brown    |     |F     |0     |
+----------+-----------+---------+-----+------+------+

In [0]:
columnsdattypes = StructType([StructField("first_name", StringType(), True),
                              StructField("middle_name",StringType(),True),
                              StructField("last_name",StringType(),True),
                              StructField("dob",StringType(),True),
                              StructField("gender",StringType(), True),
                              StructField("salary",IntegerType(),True)
                             ])
pysparkDf = spark.createDataFrame(data = data , schema = columnsdattypes)
pysparkDf.printSchema()
pysparkDf.show(truncate = False)

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|dob  |gender|salary|
+----------+-----------+---------+-----+------+------+
|James     |           |Smith    |36636|M     |60000 |
|Michael   |Rose       |         |40288|M     |70000 |
|Robert    |           |Williams |42114|      |400000|
|Maria     |Anne       |Jones    |39192|F     |500000|
|Jen       |Mary       |Brown    |     |F     |0     |
+----------+-----------+---------+-----+------+------+

In [0]:
Convert PySpark Dataframe to Pandas DataFrame
PySpark DataFrame provides a method toPandas() to convert it to Python Pandas DataFrame.

In [0]:
pandasDF = pysparkDf.toPandas()
print(pandasDF)

  first_name middle_name last_name    dob gender  salary
0      James                 Smith  36636      M   60000
1    Michael        Rose            40288      M   70000
2     Robert              Williams  42114         400000
3      Maria        Anne     Jones  39192      F  500000
4        Jen        Mary     Brown             F       0

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [(("James","","Smith"),"36636","M",60000),
        (("Michael","Rose",""),"40288","M",70000),
        (("Robert","","Williams"),"42114","",400000),
        (("Maria","Anne","Jones"),"39192","F",500000),
        (("Jen","Mary","Brown"),"","F",0)
       ]
columns = ["first_name","middle_name","last_name","dob","gender","salary"]

pysparkDF = spark.createDataFrame(data = data , schema = columns)
pysparkDF.printSchema()
pysparkDF.show(truncate = False)

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<command-1603522030302347> in <module>
      9        ]
     10 #columns = ["first_name","middle_name","last_name","dob","gender","salary"]
---> 11 pysparkDF = spark.createDataFrame(data = data , schema = columns)
     12 pysparkDF.printSchema()
     13 pysparkDF.show(truncate = False)

/databricks/spark/python/pyspark/sql/session.py in createDataFrame(self, data, schema, samplingRatio, verifySchema)
    720             return super(SparkSession, self).createDataFrame(
    721                 data, schema, samplingRatio, verifySchema)
--> 722         return self._create_dataframe(data, schema, samplingRatio, verifySchema)
    723
    724     def _create_dataframe(self, data, schema, samplingRatio, verifySchema):

/databricks/spark/python/pyspark/sql/session.py in _create_dataframe(self, data, schema, samplingRatio, verifySchema)
    752                 rdd, schema = self._createFromRDD(data.map(prepare), schema, samplingRatio)
    753             else:
--> 754                 rdd, schema = self._createFromLocal(map(prepare, data), schema)
    755             jrdd = self._jvm.SerDeUtil.toJavaArray(rdd._to_java_object_rdd())
    756             jdf = self._jsparkSession.applySchemaToPythonRDD(jrdd.rdd(), schema.json())

/databricks/spark/python/pyspark/sql/session.py in _createFromLocal(self, data, schema)
    528         write temp files.
    529         """
--> 530         data, schema = self._wrap_data_schema(data, schema)
    531         return self._sc.parallelize(data), schema
    532

/databricks/spark/python/pyspark/sql/session.py in _wrap_data_schema(self, data, schema)
    512             if isinstance(schema, (list, tuple)):
    513                 for i, name in enumerate(schema):
--> 514                     struct.fields[i].name = name
    515                     struct.names[i] = name
    516             schema = struct

IndexError: list index out of range

In [0]:
data1 = [(("James","","Smith"),"36636","M",60000),\
        (("Michael","Rose",""),"40288","M",70000),\
        (("Robert","","Williams"),"42114","",400000),\
        (("Maria","Anne","Jones"),"39192","F",500000),\
        (("Jen","Mary","Brown"),"","F",0)\
]

datastruct = StructType([
    StructField("name",StructType([StructField('first_name',StringType(),True),
                                   StructField('middle_name',StringType(),True),
                                   StructField('last_name',StringType(),True)])),
     StructField('dob', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('salary', IntegerType(), True)
])

dataDF = spark.createDataFrame(data = data1 , schema = datastruct)
dataDF.printSchema()
pandaDF = dataDF.toPandas()
print(pandaDF)

root
 |-- name: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- middle_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

                                                name    dob gender  salary
0  {'first_name': 'James', 'middle_name': '', 'la...  36636      M   60000
1  {'first_name': 'Michael', 'middle_name': 'Rose...  40288      M   70000
2  {'first_name': 'Robert', 'middle_name': '', 'l...  42114         400000
3  {'first_name': 'Maria', 'middle_name': 'Anne',...  39192      F  500000
4  {'first_name': 'Jen', 'middle_name': 'Mary', '...             F       0

In [0]:
PySpark show() – Display DataFrame Contents in Table

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Sparkbyexample.com').getOrCreate()
columns = ["Seqno","Quote"]
data = [("1", "Be the change that you wish to see in the world"),
    ("2", "Everyone thinks of changing the world, but no one thinks of changing himself."),
    ("3", "The purpose of our lives is to be happy."),
    ("4", "Be cool.")]
dataFrame = spark.createDataFrame(data = data , schema = columns)
dataFrame.printSchema()
dataframe.show(trunacte = False)# diplay full content in column.
dataframe.show(2,trunacte = False)# diplay 2 rows and  full content in  two columns.
dataFrame.show(truncate = False,vertical=True)# diplay columns  and  values vertically.

root
 |-- Seqno: string (nullable = true)
 |-- Quote: string (nullable = true)

-RECORD 0------------------------------------------------------------------------------
 Seqno | 1
 Quote | Be the change that you wish to see in the world
-RECORD 1------------------------------------------------------------------------------
 Seqno | 2
 Quote | Everyone thinks of changing the world, but no one thinks of changing himself.
-RECORD 2------------------------------------------------------------------------------
 Seqno | 3
 Quote | The purpose of our lives is to be happy.
-RECORD 3------------------------------------------------------------------------------
 Seqno | 4
 Quote | Be cool.

In [0]:
PySpark StructType & StructField Explained with Examples

In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DateType
spark = SparkSession.builder.appName('SparkByExample.com').getOrCreate()
                                    
data1 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
        ]
       
schemastruct = StructType([\
                          StructField("Firstname",StringType(),True),\
                    StructField("middlename",StringType(),True),\
                    StructField("lastname",StringType(),True),\
                    StructField("id",StringType(),True),\
                    StructField("gender",StringType(),True),\
                    StructField("salary",IntegerType(),True)\
                   ])
df = spark.createDataFrame(data = data1, schema = schemastruct)
df.printSchema()
df.show(truncate = False)

root
 |-- Firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|Firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [0]:
4. Defining Nested StructType object struct
While working on DataFrame we often need to work with the nested struct column and this can be defined using StructType.

In [0]:
nesteddata = [(("James","","Smith"),"36636","M",3000),
    (("Michael","Rose",""),"40288","M",4000),
    (("Robert","","Williams"),"42114","M",4000),
    (("Maria","Anne","Jones"),"39192","F",4000),
    (("Jen","Mary","Brown"),"","F",-1)
        ]
nestedstruct = StructType([
    StructField("name",StructType([StructField("Firstname",StringType(),True),
                                    StructField("middlename",StringType(),True),
                                    StructField("lastname",StringType(),True) 
                                  ])),
    StructField("id",StringType(),True),
    StructField("gender",StringType(),True),
    StructField("salary",IntegerType(),True)
    
])

DF2 = spark.createDataFrame(data = nesteddata, schema = nestedstruct)
DF2.printSchema()
DF2.show(truncate = False)

root
 |-- name: struct (nullable = true)
 |    |-- Firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+--------------------+-----+------+------+
|name                |id   |gender|salary|
+--------------------+-----+------+------+
|{James, , Smith}    |36636|M     |3000  |
|{Michael, Rose, }   |40288|M     |4000  |
|{Robert, , Williams}|42114|M     |4000  |
|{Maria, Anne, Jones}|39192|F     |4000  |
|{Jen, Mary, Brown}  |     |F     |-1    |
+--------------------+-----+------+------+

In [0]:
5. Adding & Changing struct of the DataFrame
Using PySpark SQL function struct(), we can change the struct of the existing DataFrame and add a new StructType to it. The below example demonstrates how to copy the columns from one structure to another and adding a new column. PySpark Column Class also provides some functions to work with the StructType column.

from pyspark.sql.functions import col,struct,when
updatedDF = df2.withColumn("OtherInfo", 
    struct(col("id").alias("identifier"),
    col("gender").alias("gender"),
    col("salary").alias("salary"),
    when(col("salary").cast(IntegerType()) < 2000,"Low")
      .when(col("salary").cast(IntegerType()) < 4000,"Medium")
      .otherwise("High").alias("Salary_Grade")
  )).drop("id","gender","salary")

updatedDF.printSchema()
updatedDF.show(truncate=False)

In [0]:
import pyspark
from pyspark.sql.functions import col,struct,when

updateDF2 = DF2.withColumn("otherinfo",
                           struct(col("id").alias("identifier"),col("gender").alias("gender"),col("salary").alias("salary"),
                                  when(col("salary").cast(IntegerType()) < 2000,"Low").when(col("salary").cast(IntegerType()) < 4000,"Medium").otherwise("High").alias("Salary_Grade") ) ).drop("id","gender","salary")

updateDF2.printSchema()
updateDF2.show(truncate = False)

root
 |-- name: struct (nullable = true)
 |    |-- Firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- otherinfo: struct (nullable = false)
 |    |-- identifier: string (nullable = true)
 |    |-- gender: string (nullable = true)
 |    |-- salary: integer (nullable = true)
 |    |-- Salary_Grade: string (nullable = false)

+--------------------+------------------------+
|name                |otherinfo               |
+--------------------+------------------------+
|{James, , Smith}    |{36636, M, 3000, Medium}|
|{Michael, Rose, }   |{40288, M, 4000, High}  |
|{Robert, , Williams}|{42114, M, 4000, High}  |
|{Maria, Anne, Jones}|{39192, F, 4000, High}  |
|{Jen, Mary, Brown}  |{, F, -1, Low}          |
+--------------------+------------------------+

In [0]:
6. Using SQL ArrayType and MapType
SQL StructType also supports ArrayType and MapType to define the DataFrame columns for array and map collections respectively. On the below example, column hobbies defined as ArrayType(StringType) and properties defined as MapType(StringType,StringType) meaning both key and value as String.

In [0]:
import pyspark
from pyspark.sql.types import ArrayType,MapType
arraystructschema = StructType([StructField("name",StructType([StructField("firstname",StringType(),True),
                                                              StructField("middlename",StringType(),True),
                                                              StructField("lastname",StringType(),True)])),
                                StructField("hobbies",ArrayType(StringType()),True),
                                StructField("properties",MapType(StringType(),StringType()),True)
    
]
)

#df3 = spark.createDataFrame(RDD ,schema = arraystructschema)
#print(df2.schema.json)
#df3.printSchema()
#df3.Show(truncate= False)

In [0]:

import json
schemaFromJson = StructType.fromJson(json.loads(schema.json))
df3 = spark.createDataFrame(
        spark.sparkContext.parallelize(structureData),schemaFromJson)
df3.printSchema()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-76370094242890> in <module>
      1 import json
----> 2 schemaFromJson = StructType.fromJson(json.loads(schema.json))
      3 df3 = spark.createDataFrame(
      4         spark.sparkContext.parallelize(structureData),schemaFromJson)
      5 df3.printSchema()

NameError: name 'schema' is not defined

In [0]:
from pyspark.sql.functions import fromDDL
  ddlSchemaStr = "'fullName' STRUCT<'first': STRING, 'last': STRING,'middle': STRING>,'age' INT,'gender' STRING"
  ddlSchema = StructType.fromDDL(ddlSchemaStr)
  ddlSchema.printTreeString()

  File "<command-76370094242892>", line 2
    ddlSchemaStr = "'fullName' STRUCT<'first': STRING, 'last': STRING,'middle': STRING>,'age' INT,'gender' STRING"
    ^
IndentationError: unexpected indent

In [0]:
PySpark Row using on DataFrame and RDD
In PySpark Row class is available by importing pyspark.sql.Row which is represented as a record/row in DataFrame, one can create a Row object by using named arguments, or create a custom Row like class. In this article I will explain how to use Row class on RDD, DataFrame and its functions.

Before we start using it on RDD & DataFrame, let’s understand some basics of Row class.
To enable sorting by names, set the environment variable PYSPARK_ROW_FIELD_SORTING_ENABLED to true.
1. Create a Row Object
Row class extends the tuple hence it takes variable number of arguments, Row() is used to create the row object. Once the row object created, we can retrieve the data from Row using index similar to tuple.

from pyspark.sql import Row
row=Row("James",40)
print(row[0] +","+str(row[1]))

In [0]:
from pyspark.sql import Row
row = Row("james",40)
print(row[0] +","+ str(row[1]))

james,40

In [0]:
row = Row(name = "james", age = 11)
print(row.name,\
      row.age)

james 11

In [0]:
2. Create Custom Class from Row
We can also create a Row like class, for example “Person” and use it similar to Row object. This would be helpful when you wanted to create real time object and refer it’s properties. On below example, we have created a Person class and used similar to Row.


Person = Row("name", "age")
p1=Person("James", 40)
p2=Person("Alice", 35)
print(p1.name +","+p2.name)

In [0]:
person= Row("name","age")
p1 = person("james",40)
p2=person("krishna",38)
print(p1.name+","+p2.name)
print(str(p1.age)+","+str(p2.age))

james,krishna
40,38

In [0]:

Person=Row("name","lang","state")
data = [Person("James,,Smith",["Java","Scala","C++"],"CA"), 
    Person("Michael,Rose,",["Spark","Java","C++"],"NJ"),
    Person("Robert,,Williams",["CSharp","VB"],"NV")]

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-76370094242898> in <module>
----> 1 Person=Row("name","lang","state")
      2 data = [Person("James,,Smith",["Java","Scala","C++"],"CA"),
      3     Person("Michael,Rose,",["Spark","Java","C++"],"NJ"),
      4     Person("Robert,,Williams",["CSharp","VB"],"NV")]

NameError: name 'Row' is not defined

In [0]:
import pyspark
from pyspark.sql import Row
Person = Row("name","lang","state")
data = [Person("james,,smith",["java","Scala","C++"],"CA"),
        Person("Krishna,,Reddy",["dotnet","sql","python"],"IND"),
        Person("Mani,,Reddy",["telugu","english","Hindi"],"USA")
       ]
DF4 = spark.createDataFrame(data= data)
DF4.printSchema()
DF4.show(truncate = False)

columns = ["name","languagesAtSchool","currentState"]
df=spark.createDataFrame(data).toDF(*columns)
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- lang: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)

+--------------+------------------------+-----+
|name          |lang                    |state|
+--------------+------------------------+-----+
|james,,smith  |[java, Scala, C++]      |CA   |
|Krishna,,Reddy|[dotnet, sql, python]   |IND  |
|Mani,,Reddy   |[telugu, english, Hindi]|USA  |
+--------------+------------------------+-----+

In [0]:
# change columns names
columns = ["name","languageAtSchool","currentState"]
df5 = spark.createDataFrame(data).toDF(*columns)
df5.printSchema()
df5.show(truncate = False)

root
 |-- name: string (nullable = true)
 |-- languageAtSchool: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- currentState: string (nullable = true)

+--------------+------------------------+------------+
|name          |languageAtSchool        |currentState|
+--------------+------------------------+------------+
|james,,smith  |[java, Scala, C++]      |CA          |
|Krishna,,Reddy|[dotnet, sql, python]   |IND         |
|Mani,,Reddy   |[telugu, english, Hindi]|USA         |
+--------------+------------------------+------------+

In [0]:
5. Create Nested Struct Using Row Class
The below example provides a way to create a struct type using the Row class. Alternatively, you can also create struct type using By Providing Schema using PySpark StructType & StructFields

#Create DataFrame with struct using Row class
from pyspark.sql import Row
data=[Row(name="James",prop=Row(hair="black",eye="blue")),
      Row(name="Ann",prop=Row(hair="grey",eye="black"))]
df=spark.createDataFrame(data)
df.printSchema()

In [0]:
data = [Row(name = "krishna",prop = Row(hair = "white",eye='black')),
       Row(name = "mani",prop = Row(hair = "black",eye = 'red'))
       ]
DF6 =  spark.createDataFrame(data= data)
DF6.printSchema()
DF6.show(truncate= False)

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

+-------+--------------+
|name   |prop          |
+-------+--------------+
|krishna|{white, black}|
|mani   |{black, red}  |
+-------+--------------+

In [0]:
PySpark Column Class | Operators & Functions
pyspark.sql.Column class provides several functions to work with DataFrame to manipulate the Column values, evaluate the boolean expression to filter rows, retrieve a value or part of a value from a DataFrame column, and to work with list, map & struct columns.

In this article, I will cover how to create Column object, access them to perform operations, and finally most used PySpark Column Functions with Examples.
1. Create Column Class Object
One of the simplest ways to create a Column class object is by using PySpark lit() SQL function, this takes a literal value and returns a Column object.

from pyspark.sql.functions import lit
colObj = lit("sparkbyexamples.com")


data=[("James",23),("Ann",40)]
df=spark.createDataFrame(data).toDF("name.fname","gender")
df.printSchema()
#root
# |-- name.fname: string (nullable = true)
# |-- gender: long (nullable = true)

# Using DataFrame object (df)
df.select(df.gender).show()
df.select(df["gender"]).show()
#Accessing column name with dot (with backticks)
df.select(df["`name.fname`"]).show()

#Using SQL col() function
from pyspark.sql.functions import col
df.select(col("gender")).show()
#Accessing column name with dot (with backticks)
df.select(col("`name.fname`")).show()

In [0]:
import pyspark
from pyspark.sql.functions import lit,col

colObj = lit("sparkbyexamples.com")

data = [("james",23),("Ann",40)]
df7 = spark.createDataFrame(data).toDF("name.fname","age")
df7.printSchema()
df7.select(df7["age"]).show()
df7.select(df7.age).show()
df7.select(df7["`name.fname`"]).show()
#Using SQL col() function
df7.select(col("age")).show()
df7.select(col("`name.fname`")).show()

root
 |-- name.fname: string (nullable = true)
 |-- age: long (nullable = true)

+---+
|age|
+---+
| 23|
| 40|
+---+

+---+
|age|
+---+
| 23|
| 40|
+---+

+----------+
|name.fname|
+----------+
|     james|
|       Ann|
+----------+

+---+
|age|
+---+
| 23|
| 40|
+---+

+----------+
|name.fname|
+----------+
|     james|
|       Ann|
+----------+

In [0]:
Below example demonstrates accessing struct type columns. Here I have use PySpark Row class to create a struct type. Alternatively you can also create it by using PySpark StructType & StructField classes


#Create DataFrame with struct using Row class
from pyspark.sql import Row
data=[Row(name="James",prop=Row(hair="black",eye="blue")),
      Row(name="Ann",prop=Row(hair="grey",eye="black"))]
df=spark.createDataFrame(data)
df.printSchema()
#root
# |-- name: string (nullable = true)
# |-- prop: struct (nullable = true)
# |    |-- hair: string (nullable = true)
# |    |-- eye: string (nullable = true)

#Access struct column
df.select(df.prop.hair).show()
df.select(df["prop.hair"]).show()
df.select(col("prop.hair")).show()

#Access all columns from struct
df.select(col("prop.*")).show()

In [0]:
from pyspark.sql import Row
data1 = [Row(name = "james",prop = Row(hair = "black",eye="black")),
        Row(name = "anna",prop = Row(hair= 'white',eye = "red"))
        ]
df8 = spark.createDataFrame(data = data1)
df8.printSchema()
#df8.select(df8.prop.hair).show()
#df8.select(df8.prop.eye).show()
df8.select(df8["prop.hair"]).show()
df8.select(col("prop.hair")).show()
df8.select(col("prop.*")).show()
df8.select(col("prop.*")).show()

root
 |-- name: string (nullable = true)
 |-- prop: struct (nullable = true)
 |    |-- hair: string (nullable = true)
 |    |-- eye: string (nullable = true)

+-----+
| hair|
+-----+
|black|
|white|
+-----+

+-----+
| hair|
+-----+
|black|
|white|
+-----+

+-----+-----+
| hair|  eye|
+-----+-----+
|black|black|
|white|  red|
+-----+-----+

+-----+-----+
| hair|  eye|
+-----+-----+
|black|black|
|white|  red|
+-----+-----+

In [0]:
2. PySpark Column Operators
PySpark column also provides a way to do arithmetic operations on columns using operators.

data=[(100,2,1),(200,3,4),(300,4,4)]
df=spark.createDataFrame(data).toDF("col1","col2","col3")

#Arthmetic operations
df.select(df.col1 + df.col2).show()
df.select(df.col1 - df.col2).show() 
df.select(df.col1 * df.col2).show()
df.select(df.col1 / df.col2).show()
df.select(df.col1 % df.col2).show()

df.select(df.col2 > df.col3).show()
df.select(df.col2 < df.col3).show()
df.select(df.col2 == df.col3).show()

In [0]:
data2 = [(100,2,1),(200,3,4),(300,4,4)]
df9 = spark.createDataFrame(data = data2).toDF("col1","col2","col3")
df9.printSchema()
df9.select(df9.col1 + df9.col2).show()
#df9.select(col("col1") + col("col2")).show()
#df9.select(df9.col1 - df9.col2).show()
#df9.select(col("col1")-col("col2")).show()
df9.select(df9.col1 * df9.col2).show()
df9.select(df9.col1>df9.col2).show()
df9.select(col("col1") == col("col2")).show()

root
 |-- col1: long (nullable = true)
 |-- col2: long (nullable = true)
 |-- col3: long (nullable = true)

+-------------+
|(col1 + col2)|
+-------------+
|          102|
|          203|
|          304|
+-------------+

+-------------+
|(col1 * col2)|
+-------------+
|          200|
|          600|
|         1200|
+-------------+

+-------------+
|(col1 > col2)|
+-------------+
|         true|
|         true|
|         true|
+-------------+

+-------------+
|(col1 = col2)|
+-------------+
|        false|
|        false|
|        false|
+-------------+

In [0]:
4.1 alias() – Set’s name to Column
On below example df.fname refers to Column object and alias() is a function of the Column to give alternate name. Here, fname column has been changed to first_name & lname to last_name.

On second example I have use PySpark expr() function to concatenate columns and named column as fullName.
data=[("James","Bond","100",None),
      ("Ann","Varsa","200",'F'),
      ("Tom Cruise","XXX","400",''),
      ("Tom Brand",None,"400",'M')] 
columns=["fname","lname","id","gender"]
df=spark.createDataFrame(data,columns)
#alias
from pyspark.sql.functions import expr
df.select(df.fname.alias("first_name"), \
          df.lname.alias("last_name")
   ).show()

#Another example
df.select(expr(" fname ||','|| lname").alias("fullName") \
   ).show()

In [0]:
from pyspark.sql.functions import expr
data10=[("James","Bond","100",None),
      ("Ann","Varsa","200",'F'),
      ("Tom Cruise","XXX","400",''),
      ("Tom Brand",None,"400",'M')]
df11 = spark.createDataFrame(data = data10).toDF("fname","lname","id","gender")
#df11.printSchema()
#df11.show()
df11.select(df11.fname.alias("first_name"),\
           df11.lname.alias("last_name")
           ).show()
df11.select(expr("fname ||','|| lname").alias("fullname")).show()
df11.select(col("fname").alias("first_name")
,col("fname").alias("lastname")).show()

+----------+---------+
|first_name|last_name|
+----------+---------+
|     James|     Bond|
|       Ann|    Varsa|
|Tom Cruise|      XXX|
| Tom Brand|     null|
+----------+---------+

+--------------+
|      fullname|
+--------------+
|    James,Bond|
|     Ann,Varsa|
|Tom Cruise,XXX|
|          null|
+--------------+

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-3543374590422074> in <module>
     11            ).show()
     12 df11.select(expr("fname ||','|| lname").alias("fullname")).show()
---> 13 df11.select(col("fname").alias("first_name")
     14 ,col("fname").alias("lastname")).show()

NameError: name 'col' is not defined

In [0]:
4.2 asc() & desc() – Sort the DataFrame columns by Ascending or Descending order.

#asc, desc to sort ascending and descending order repsectively.
df.sort(df.fname.asc()).show()
df.sort(df.fname.desc()).show()

In [0]:
df11.sort(df11.fname.asc()).show()
df11.sort(df11.lname.asc()).show()
df11.sort(df11.id.desc()).show()
df11.sort(df11.gender.desc()).show()

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|       Ann|Varsa|200|     F|
|     James| Bond|100|  null|
| Tom Brand| null|400|     M|
|Tom Cruise|  XXX|400|      |
+----------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
| Tom Brand| null|400|     M|
|     James| Bond|100|  null|
|       Ann|Varsa|200|     F|
|Tom Cruise|  XXX|400|      |
+----------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
| Tom Brand| null|400|     M|
|Tom Cruise|  XXX|400|      |
|       Ann|Varsa|200|     F|
|     James| Bond|100|  null|
+----------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
| Tom Brand| null|400|     M|
|       Ann|Varsa|200|     F|
|Tom Cruise|  XXX|400|      |
|     James| Bond|100|  null|
+----------+-----+---+------+

In [0]:
4.3 cast() & astype() – Used to convert the data Type.

#cast
df.select(df.fname,df.id.cast("int")).printSchema()
4.4 between() – Returns a Boolean expression when a column values in between lower and upper bound.

#between
df.filter(df.id.between(100,300)).show()
4.5 contains() – Checks if a DataFrame column value contains a a value specified in this function.

#contains
df.filter(df.fname.contains("Cruise")).show()

In [0]:
#f11.select(df11.fname,df11.id.cast("int")).show()
df11.select(df11.lname,df11.id.cast("int")).printSchema()
df11.select(df11.gender,df11.id.astype("string")).printSchema()
#between
df11.select(df11.id.between(100,300)).show()
df11.select(df11.id,df11.id.between(100,300)).show()
#contains
df11.select(df11.fname.contains("Ann")).show()
#f11.select(df11.lname.conatins("Cruise")).show()

root
 |-- lname: string (nullable = true)
 |-- id: integer (nullable = true)

root
 |-- gender: string (nullable = true)
 |-- id: string (nullable = true)

+-----------------------------+
|((id >= 100) AND (id <= 300))|
+-----------------------------+
|                         true|
|                         true|
|                        false|
|                        false|
+-----------------------------+

+---+-----------------------------+
| id|((id >= 100) AND (id <= 300))|
+---+-----------------------------+
|100|                         true|
|200|                         true|
|400|                        false|
|400|                        false|
+---+-----------------------------+

+--------------------+
|contains(fname, Ann)|
+--------------------+
|               false|
|                true|
|               false|
|               false|
+--------------------+

In [0]:
4.6 startswith() & endswith() – Checks if the value of the DataFrame Column starts and ends with a String respectively.

#startswith, endswith()
df.filter(df.fname.startswith("T")).show()
df.filter(df.fname.endswith("Cruise")).show()
4.7 eqNullSafe() –


4.8 isNull & isNotNull() – Checks if the DataFrame column has NULL or non NULL values.
Refer to


#isNull & isNotNull
df.filter(df.lname.isNull()).show()
df.filter(df.lname.isNotNull()).show()
4.9 like() & rlike() – Similar to SQL LIKE expression

#like , rlike
df.select(df.fname,df.lname,df.id) \
  .filter(df.fname.like("%om")) 
4.10 substr() – Returns a Column after getting sub string from the Column

df.select(df.fname.substr(1,2).alias("substr")).show()

In [0]:
df11.filter(df11.fname.startswith("T")).show()
df11.filter(df11.lname.contains("XXX")).show()
df11.filter(df11.fname.endswith("e")).show()
df11.filter(df11.gender.isNull()).show()
df11.filter(df11.gender.isNotNull()).show()
df11.select(df11.fname,df11.lname,df11.gender).filter(df11.lname.like("%sa")).show()
df11.select(df11.fname,df11.id).filter(df11.fname.like("%om%")).show()
df11.filter(df11.fname.rlike("^om")).show()
df11.select(df11.fname.substr(1,3).alias("substr")).show()

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|Tom Cruise|  XXX|400|      |
| Tom Brand| null|400|     M|
+----------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|Tom Cruise|  XXX|400|      |
+----------+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|Tom Cruise|  XXX|400|      |
+----------+-----+---+------+

+-----+-----+---+------+
|fname|lname| id|gender|
+-----+-----+---+------+
|James| Bond|100|  null|
+-----+-----+---+------+

+----------+-----+---+------+
|     fname|lname| id|gender|
+----------+-----+---+------+
|       Ann|Varsa|200|     F|
|Tom Cruise|  XXX|400|      |
| Tom Brand| null|400|     M|
+----------+-----+---+------+

+-----+-----+------+
|fname|lname|gender|
+-----+-----+------+
|  Ann|Varsa|     F|
+-----+-----+------+

+----------+---+
|     fname| id|
+----------+---+
|Tom Cruise|400|
| Tom Brand|400|
+----------+---+

+-----+-----+---+------+
|fname|lname| id|gender|
+-----+-----+---+------+
+-----+-----+---+------+

+------+
|substr|
+------+
|   Jam|
|   Ann|
|   Tom|
|   Tom|
+------+

In [0]:
4.11 when() & otherwise() – It is similar to SQL Case When, executes sequence of expressions until it matches the condition and returns a value when match.

#when & otherwise
from pyspark.sql.functions import when
df.select(df.fname,df.lname,when(df.gender=="M","Male") \
              .when(df.gender=="F","Female") \
              .when(df.gender==None ,"") \
              .otherwise(df.gender).alias("new_gender") \
    ).show()
4.12 isin() – Check if value presents in a List.

#isin
li=["100","200"]
df.select(df.fname,df.lname,df.id) \
  .filter(df.id.isin(li)) \
  .show()

In [0]:
from pyspark.sql.functions import when
df11.select(df11.fname,df11.lname,when(df11.gender == "M","Male")\
                                    .when(df11.gender == "F","Female") \
                                    .when(df11.gender == "","empty") \
                                    .otherwise(df11.gender).alias("new_gender")
           
           ).show()

#isin function same like in operator
In = [100,200]
df11.select(df11.id.isin(In)).show()
df11.select(df11.id,df11.fname).filter(df11.id.isin(In)).show()

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-1929897425368937> in <module>
      1 from pyspark.sql.functions import when
----> 2 df11.select(df11.fname,df11.lname,when(df11.gender == "M","Male")\
      3                                     .when(df11.gender == "F","Female") \
      4                                     .when(df11.gender == "","empty") \
      5                                     .otherwise(df11.gender).alias("new_gender")

NameError: name 'df11' is not defined

In [0]:
4.13 getField() – To get the value by key from MapType column and by stuct child name from StructType column
Rest of the below functions operates on List, Map & Struct data structures hence to demonstrate these I will use another DataFrame with list, map and struct columns. For more explanation how to use Arrays refer to PySpark ArrayType Column on DataFrame Examples & for map refer to PySpark MapType Examples


#Create DataFrame with struct, array & map
from pyspark.sql.types import StructType,StructField,StringType,ArrayType,MapType
data=[(("James","Bond"),["Java","C#"],{'hair':'black','eye':'brown'}),
      (("Ann","Varsa"),[".NET","Python"],{'hair':'brown','eye':'black'}),
      (("Tom Cruise",""),["Python","Scala"],{'hair':'red','eye':'grey'}),
      (("Tom Brand",None),["Perl","Ruby"],{'hair':'black','eye':'blue'})]

schema = StructType([
        StructField('name', StructType([
            StructField('fname', StringType(), True),
            StructField('lname', StringType(), True)])),
        StructField('languages', ArrayType(StringType()),True),
        StructField('properties', MapType(StringType(),StringType()),True)
     ])
df=spark.createDataFrame(data,schema)
df.printSchema()

#Display's to console
root
 |-- name: struct (nullable = true)
 |    |-- fname: string (nullable = true)
 |    |-- lname: string (nullable = true)
 |-- languages: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
getField Example


#getField from MapType
df.select(df.properties.getField("hair")).show()

#getField from Struct
df.select(df.name.getField("fname")).show()

In [0]:
import pyspark
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DataType,ArrayType,MapType
from pyspark.sql.functions import col
data12 = [(("james","bond"),["java","C#"],{'hair':'black','eye':'red'}),
          (("krishna","reddy"),[".net","python"],{'hair':'white','eye':'black'}),
          (("mani","gali"),["sql","C"],{'hair':'grey','eye':'black'})         
         ]
Data_Struct = StructType([ StructField('name',StructType([StructField('fname',StringType(),True),
                                                          StructField('lname',StringType(),True)])
                                      ),
                          StructField('language',ArrayType(StringType()),True),
                          StructField('properties',MapType(StringType(),StringType()),True)
                         ])

df22= spark.createDataFrame(data = data12,schema = Data_Struct)
df22.printSchema()
#df22.show(truncate = True)

root
 |-- name: struct (nullable = true)
 |    |-- fname: string (nullable = true)
 |    |-- lname: string (nullable = true)
 |-- language: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [0]:
df22.select(df22.properties.getField("hair")).show()
df22.select(df22.name.getField("fname")).show()
df22.select(df22.language).show()
df22.select(df22.language.getItem(0)).show()
df22.select(df22.language.getItem(1)).show()# datatype is Array type
df22.select(df22.properties.getItem("eye")).show()# datatype is Maptype

+----------------+
|properties[hair]|
+----------------+
|           black|
|           white|
|            grey|
+----------------+

+----------+
|name.fname|
+----------+
|     james|
|   krishna|
|      mani|
+----------+

+--------------+
|      language|
+--------------+
|    [java, C#]|
|[.net, python]|
|      [sql, C]|
+--------------+

+-----------+
|language[0]|
+-----------+
|       java|
|       .net|
|        sql|
+-----------+

+-----------+
|language[1]|
+-----------+
|         C#|
|     python|
|          C|
+-----------+

+---------------+
|properties[eye]|
+---------------+
|            red|
|          black|
|          black|
+---------------+

In [0]:
1. Select Single & Multiple Columns From PySpark
2. Select All Columns From List
3. Select Columns by Index
4. Select Nested Struct Columns from PySpark

In [0]:
#Select Nested Struct Columns from PySpark
#df22.select("name").show()
#df22.select("name.fname","name.lname").show()
#df22.select("name.*").show()
#df22.select(df22.name).show()
#df22.select(df22.name.fname).show()
df22.select(df22["name"]).show()
from pyspark.sql.functions import col
#df22.select(col("name.fname"),col("name.lname")).show()
#df22.select(col("language")).show()
#df22.select(col("properties")).show()
#df22.select(df22.language).show()
#df22.select(df22.properties).show()
#df22.select(df22.language,df22.properties.hair).show()
#df22.select(df22["language"],df22["properties.hair"]).show()
df22.select("language","properties.hair").show()
df22.select("*").show()

+----------------+
|            name|
+----------------+
|   {james, bond}|
|{krishna, reddy}|
|    {mani, gali}|
+----------------+

+--------------+-----+
|      language| hair|
+--------------+-----+
|    [java, C#]|black|
|[.net, python]|white|
|      [sql, C]| grey|
+--------------+-----+

+----------------+--------------+--------------------+
|            name|      language|          properties|
+----------------+--------------+--------------------+
|   {james, bond}|    [java, C#]|{eye -> red, hair...|
|{krishna, reddy}|[.net, python]|{eye -> black, ha...|
|    {mani, gali}|      [sql, C]|{eye -> black, ha...|
+----------------+--------------+--------------------+

In [0]:
#2. Select All Columns From List
df22.select("*").show(2)
df22.select([col for col in df22.Data_struct]).show()

+----------------+--------------+--------------------+
|            name|      language|          properties|
+----------------+--------------+--------------------+
|   {james, bond}|    [java, C#]|{eye -> red, hair...|
|{krishna, reddy}|[.net, python]|{eye -> black, ha...|
+----------------+--------------+--------------------+
only showing top 2 rows

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-991280237107375> in <module>
      1 #2. Select All Columns From List
      2 df22.select("*").show(2)
----> 3 df22.select([col for col in df22.Data_struct]).show()

/databricks/spark/python/pyspark/sql/dataframe.py in __getattr__(self, name)
   1798         """
   1799         if name not in self.columns:
-> 1800             raise AttributeError(
   1801                 "'%s' object has no attribute '%s'" % (self.__class__.__name__, name))
   1802         jc = self._jdf.apply(name)

AttributeError: 'DataFrame' object has no attribute 'Data_struct'

In [0]:
#PySpark Collect() – Retrieve data from DataFrame
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|  Finance|     10|
|Marketing|     20|
|    Sales|     30|
|       IT|     40|
+---------+-------+

In [0]:
data_collect = deptDF.collect()
print(data_collect)

for row in data_collect:
    print(row["dept_name"] + ',' + str(row["dept_id"]))
data_collect1 = deptDF.collect()
print(data_collect1)

for row in data_collect1 : print(row["dept_name"] +","+ str(row["dept_id"]))

[Row(dept_name='Finance', dept_id=10), Row(dept_name='Marketing', dept_id=20), Row(dept_name='Sales', dept_id=30), Row(dept_name='IT', dept_id=40)]
Finance,10
Marketing,20
Sales,30
IT,40
[Row(dept_name='Finance', dept_id=10), Row(dept_name='Marketing', dept_id=20), Row(dept_name='Sales', dept_id=30), Row(dept_name='IT', dept_id=40)]
Finance,10
Marketing,20
Sales,30
IT,40

In [0]:
#deptDF.collect()[1][1]
deptDF.collect()[1]

Out[11]: Row(dept_name='Marketing', dept_id=20)

In [0]:
data_collect2 = deptDF.select("dept_name").collect()
print(data_collect2)
data_collect = deptDF.collect()
print(data_collect)
data_collect2=deptDF.select("dept_id").collect()
print(data_collect2)

[Row(dept_name='Finance'), Row(dept_name='Marketing'), Row(dept_name='Sales'), Row(dept_name='IT')]
[Row(dept_name='Finance', dept_id=10), Row(dept_name='Marketing', dept_id=20), Row(dept_name='Sales', dept_id=30), Row(dept_name='IT', dept_id=40)]
[Row(dept_id=10), Row(dept_id=20), Row(dept_id=30), Row(dept_id=40)]

In [0]:
#PySpark withColumn() Usage with Examples
#PySpark withColumn() is a transformation function of DataFrame which is used to change the value, convert the datatype of an existing column, create a new column, and many more. In this post, I will walk you through commonly used PySpark DataFrame column operations using withColumn() examples.
data100 = [('james','','smith','1991-04-01','M',3000),
           ('Michael','Rose','','2000-05-19','M',4000),
           ('Robert','','Williams','1978-09-05','M',4000),
          ('Maria','Anne','Jones','1967-12-01','F',4000),
          ('Jen','Mary','Brown','1980-02-17','F',-1)
           ]

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('spark by example.com').getOrCreate()

data100 = [('james','','smith','1991-04-01','M',3000),
           ('Michael','Rose','','2000-05-19','M',4000),
           ('Robert','','Williams','1978-09-05','M',4000),
          ('Maria','Anne','Jones','1967-12-01','F',4000),
          ('Jen','Mary','Brown','1980-02-17','F',-1)
           ]
columns1 = ["first_name","middel_name","last_name","DOB","gender","salary"]
dataframe2 = spark.createDataFrame(data = data100,schema = columns1)
dataframe2.printSchema()
dataframe2.show()

root
 |-- first_name: string (nullable = true)
 |-- middel_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+----------+-----------+---------+----------+------+------+
|first_name|middel_name|last_name|       DOB|gender|salary|
+----------+-----------+---------+----------+------+------+
|     james|           |    smith|1991-04-01|     M|  3000|
|   Michael|       Rose|         |2000-05-19|     M|  4000|
|    Robert|           | Williams|1978-09-05|     M|  4000|
|     Maria|       Anne|    Jones|1967-12-01|     F|  4000|
|       Jen|       Mary|    Brown|1980-02-17|     F|    -1|
+----------+-----------+---------+----------+------+------+

In [0]:
1. Change DataType using PySpark withColumn()
By using PySpark withColumn() on a DataFrame, we can cast or change the data type of a column. In order to change data type, you would also need to use cast() function along with withColumn(). The below statement changes the datatype from String to Integer for the salary column.
df.withColumn("salary",col("salary").cast("Integer")).show()
2. Update The Value of an Existing Column
PySpark withColumn() function of DataFrame can also be used to change the value of an existing column. In order to change the value, pass an existing column name as a first argument and a value to be assigned as a second argument to the withColumn() function. Note that the second argument should be Column type . Also, see Different Ways to Update PySpark DataFrame Column.

df.withColumn("salary",col("salary")*100).show()
3. Create a Column from an Existing
To add/create a new column, specify the first argument with a name you want your new column to be and use the second argument to assign a value by applying an operation on an existing column. Also, see Different Ways to Add New Column to PySpark DataFrame.

df.withColumn("CopiedColumn",col("salary")* -1).show()
4. Add a New Column using withColumn()
In order to create a new column, pass the column name you wanted to the first argument of withColumn() transformation function. Make sure this new column not already present on DataFrame, if it presents it updates the value of that column.

On below snippet, PySpark lit() function is used to add a constant value to a DataFrame column. We can also chain in order to add multiple columns.


df.withColumn("Country", lit("USA")).show()
df.withColumn("Country", lit("USA")) \
  .withColumn("anotherColumn",lit("anotherValue")) \
  .show()
5. Rename Column Name
Though you cannot rename a column using withColumn, still I wanted to cover this as renaming is one of the common operations we perform on DataFrame. To rename an existing column use withColumnRenamed() function on DataFrame.

df.withColumnRenamed("gender","sex") \
  .show(truncate=False) 
6. Drop Column From PySpark DataFrame
Use “drop” function to drop a specific column from the DataFrame.
df.drop("salary") \
  .show()

In [0]:
from pyspark.sql.functions import col
#dataframe2.withColumn("salary",col("salary").cast("Integer")).printSchema()
#dataframe2.withColumn("salary",col("salary").cast("Integer")).show()
dataframe2.withColumn("NewSalary",col("salary")-1000).show()

+----------+-----------+---------+----------+------+------+---------+
|first_name|middel_name|last_name|       DOB|gender|salary|NewSalary|
+----------+-----------+---------+----------+------+------+---------+
|     james|           |    smith|1991-04-01|     M|  3000|     2000|
|   Michael|       Rose|         |2000-05-19|     M|  4000|     3000|
|    Robert|           | Williams|1978-09-05|     M|  4000|     3000|
|     Maria|       Anne|    Jones|1967-12-01|     F|  4000|     3000|
|       Jen|       Mary|    Brown|1980-02-17|     F|    -1|    -1001|
+----------+-----------+---------+----------+------+------+---------+

In [0]:
from pyspark.sql.functions import lit
#dataframe2.withColumn("salary",col("salary")*100).show()
#dataframe2.withColumn("DOB",col("DOB").cast("Date")).show()
#dataframe2.withColumn("salary",col("salary")+1000).show()
dataframe2.withColumn("country",lit("USA")).show()
dataframe2.withColumn("state",lit(""))\
            .withColumn("anothercolumn",lit("")).show()
dataframe2.withColumnRenamed("gender","sex").show(truncate = False)
dataframe2.withColumnRenamed("First_name","Fname")\
            .withColumnRenamed("salary","Paid").show()
dataframe2.drop("middel_name").show()

+----------+-----------+---------+----------+------+------+-------+
|first_name|middel_name|last_name|       DOB|gender|salary|country|
+----------+-----------+---------+----------+------+------+-------+
|     james|           |    smith|1991-04-01|     M|  3000|    USA|
|   Michael|       Rose|         |2000-05-19|     M|  4000|    USA|
|    Robert|           | Williams|1978-09-05|     M|  4000|    USA|
|     Maria|       Anne|    Jones|1967-12-01|     F|  4000|    USA|
|       Jen|       Mary|    Brown|1980-02-17|     F|    -1|    USA|
+----------+-----------+---------+----------+------+------+-------+

+----------+-----------+---------+----------+------+------+-----+-------------+
|first_name|middel_name|last_name|       DOB|gender|salary|state|anothercolumn|
+----------+-----------+---------+----------+------+------+-----+-------------+
|     james|           |    smith|1991-04-01|     M|  3000|     |             |
|   Michael|       Rose|         |2000-05-19|     M|  4000|     |             |
|    Robert|           | Williams|1978-09-05|     M|  4000|     |             |
|     Maria|       Anne|    Jones|1967-12-01|     F|  4000|     |             |
|       Jen|       Mary|    Brown|1980-02-17|     F|    -1|     |             |
+----------+-----------+---------+----------+------+------+-----+-------------+

+----------+-----------+---------+----------+---+------+
|first_name|middel_name|last_name|DOB       |sex|salary|
+----------+-----------+---------+----------+---+------+
|james     |           |smith    |1991-04-01|M  |3000  |
|Michael   |Rose       |         |2000-05-19|M  |4000  |
|Robert    |           |Williams |1978-09-05|M  |4000  |
|Maria     |Anne       |Jones    |1967-12-01|F  |4000  |
|Jen       |Mary       |Brown    |1980-02-17|F  |-1    |
+----------+-----------+---------+----------+---+------+

+-------+-----------+---------+----------+------+----+
|  Fname|middel_name|last_name|       DOB|gender|Paid|
+-------+-----------+---------+----------+------+----+
|  james|           |    smith|1991-04-01|     M|3000|
|Michael|       Rose|         |2000-05-19|     M|4000|
| Robert|           | Williams|1978-09-05|     M|4000|
|  Maria|       Anne|    Jones|1967-12-01|     F|4000|
|    Jen|       Mary|    Brown|1980-02-17|     F|  -1|
+-------+-----------+---------+----------+------+----+

+----------+---------+----------+------+------+
|first_name|last_name|       DOB|gender|salary|
+----------+---------+----------+------+------+
|     james|    smith|1991-04-01|     M|  3000|
|   Michael|         |2000-05-19|     M|  4000|
|    Robert| Williams|1978-09-05|     M|  4000|
|     Maria|    Jones|1967-12-01|     F|  4000|
|       Jen|    Brown|1980-02-17|     F|    -1|
+----------+---------+----------+------+------+

In [0]:
PySpark Where Filter Function | Multiple Conditions
PySpark filter() function is used to filter the rows from RDD/DataFrame based on the given condition or SQL expression, you can also use where() clause instead of the filter() if you are coming from an SQL background, both these functions operate exactly the same.

In this PySpark article, you will learn how to apply a filter on DataFrame columns of string, arrays, struct types by using single and multiple conditions and also applying filter using isin() with PySpark (Python Spark) examples.
1. PySpark DataFrame filter() Syntax
Below is syntax of the filter function. condition would be an expression you wanted to filter.


filter(condition)
Before we start with examples, first let’s create a DataFrame. Here, I am using a DataFrame with StructType and ArrayType columns as I will also be covering examples with struct and array types as-well.


from pyspark.sql.types import StructType,StructField 
from pyspark.sql.types import StringType, IntegerType, ArrayType
data = [
    (("James","","Smith"),["Java","Scala","C++"],"OH","M"),
    (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")
 ]

In [0]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,ArrayType,MapType
data200 = [(("james","","smith"),["java","scala","c++"],"OH","M"),
        (("Anna","Rose",""),["Spark","Java","C++"],"NY","F"),
    (("Julia","","Williams"),["CSharp","VB"],"OH","F"),
    (("Maria","Anne","Jones"),["CSharp","VB"],"NY","M"),
    (("Jen","Mary","Brown"),["CSharp","VB"],"NY","M"),
    (("Mike","Mary","Williams"),["Python","VB"],"OH","M")    
]
data200_schema = StructType([StructField('name',StructType([StructField('fname',StringType(),True),
                                                StructField('mname',StringType(),True),
                                                StructField('lname',StringType(),True)])
                                        ),
                             StructField('language',ArrayType(StringType()),True),
                             StructField('state',StringType(),True),
                             StructField('gender',StringType(),True) ])
dataframe200 = spark.createDataFrame(data = data200,schema=data200_schema)
dataframe200.printSchema()
dataframe200.show()

root
 |-- name: struct (nullable = true)
 |    |-- fname: string (nullable = true)
 |    |-- mname: string (nullable = true)
 |    |-- lname: string (nullable = true)
 |-- language: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- state: string (nullable = true)
 |-- gender: string (nullable = true)

+--------------------+------------------+-----+------+
|                name|          language|state|gender|
+--------------------+------------------+-----+------+
|    {james, , smith}|[java, scala, c++]|   OH|     M|
|      {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
| {Julia, , Williams}|      [CSharp, VB]|   OH|     F|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

In [0]:
2. DataFrame filter() with Column Condition
Use Column with the condition to filter the rows from DataFrame, using this you can express complex condition by referring column names using dfObject.colname

In [0]:
import  pyspark
from pyspark.sql.functions import col
#dataframe200.filter(dataframe200.state == "OH").show()
#dataframe200.filter(dataframe200.state != "OH").show()
#dataframe200.filter(col("state")=="OH").show()
dataframe200.filter(col("gender")=="M").show()
dataframe200.filter("gender == 'F'").show()

+--------------------+------------------+-----+------+
|                name|          language|state|gender|
+--------------------+------------------+-----+------+
|    {james, , smith}|[java, scala, c++]|   OH|     M|
|{Maria, Anne, Jones}|      [CSharp, VB]|   NY|     M|
|  {Jen, Mary, Brown}|      [CSharp, VB]|   NY|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

+-------------------+------------------+-----+------+
|               name|          language|state|gender|
+-------------------+------------------+-----+------+
|     {Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
|{Julia, , Williams}|      [CSharp, VB]|   OH|     F|
+-------------------+------------------+-----+------+

In [0]:
3. DataFrame filter() with SQL Expression
If you are coming from SQL background, you can use that knowledge in PySpark to filter DataFrame rows with SQL expressions.
#Using SQL Expression
df.filter("gender == 'M'").show()
#For not equal
df.filter("gender != 'M'").show()
df.filter("gender <> 'M'").show()
4. PySpark Filter with Multiple Conditions
In PySpark, to filter() rows on DataFrame based on multiple conditions, you case use either Column with a condition or SQL expression. Below is just a simple example using AND (&) condition, you can extend this with OR(|), and NOT(!) conditional expressions as needed.


//Filter multiple condition
df.filter( (df.state  == "OH") & (df.gender  == "M") ) \
    .show(truncate=False) 
5. Filter Based on List Values
If you have a list of elements and you wanted to filter that is not in the list or in the list, use isin() function of Column class and it doesn’t have isnotin() function but you do the same using not operator (~)


#Filter IS IN List values
li=["OH","CA","DE"]
df.filter(df.state.isin(li)).show()

In [0]:
dataframe200.filter((dataframe200.state == 'OH') & (dataframe200.gender == 'M')).show()
dataframe200.filter((col("state")=='OH') & (col("gender") =='M')).show()
dataframe200.filter(("state =='OH'")&("gender=='M'")).show()

+--------------------+------------------+-----+------+
|                name|          language|state|gender|
+--------------------+------------------+-----+------+
|    {james, , smith}|[java, scala, c++]|   OH|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

+--------------------+------------------+-----+------+
|                name|          language|state|gender|
+--------------------+------------------+-----+------+
|    {james, , smith}|[java, scala, c++]|   OH|     M|
|{Mike, Mary, Will...|      [Python, VB]|   OH|     M|
+--------------------+------------------+-----+------+

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<command-2768786762561516> in <module>
      1 dataframe200.filter((dataframe200.state == 'OH') & (dataframe200.gender == 'M')).show()
      2 dataframe200.filter((col("state")=='OH') & (col("gender") =='M')).show()
----> 3 dataframe200.filter(("state =='OH'")&("gender=='M'")).show()

TypeError: unsupported operand type(s) for &: 'str' and 'str'

In [0]:
6. Filter Based on Starts With, Ends With, Contains
You can also filter DataFrame rows by using startswith(), endswith() and contains() methods of Column class. For more examples on Column class, refer to PySpark Column Functions.
# Using startswith
df.filter(df.state.startswith("N")).show()
#using endswith
df.filter(df.state.endswith("H")).show()
#contains
df.filter(df.state.contains("H")).show()
7. PySpark Filter like and rlike
If you have SQL background you must be familiar with like and rlike (regex like), PySpark also provides similar methods in Column class to filter similar values using wildcard characters. You can use rlike() to filter by checking values case insensitive.


data2 = [(2,"Michael Rose"),(3,"Robert Williams"),
     (4,"Rames Rose"),(5,"Rames rose")
  ]
df2 = spark.createDataFrame(data = data2, schema = ["id","name"])

# like - SQL LIKE pattern
df2.filter(df2.name.like("%rose%")).show()
+---+----------+
| id|      name|
+---+----------+
|  5|Rames rose|
+---+----------+

# rlike - SQL RLIKE pattern (LIKE with Regex)
#This check case insensitive
df2.filter(df2.name.rlike("(?i)^*rose$")).show()
+---+------------+
| id|        name|
+---+------------+
|  2|Michael Rose|
|  4|  Rames Rose|
|  5|  Rames rose|

In [0]:
dataframe200.filter(dataframe200.state.startswith("O")).show()
dataframe200.filter(dataframe200.name.fname.startswith("M")).show()
dataframe200.filter(dataframe200.name.fname.endswith("a")).show()
dataframe200.filter(dataframe200.name.mname.contains("nn")).show()
dataframe200.filter(dataframe200.name.lname.contains("ll")).show()
dataframe200.filter(dataframe200.name.lname.like("W%")).show()
#dataframe200.filter(dataframe200.name.lname.rlike("(?i)^*s$").show()

  File "<command-32121595053186>", line 7
    dataframe200.filter(dataframe200.name.lname.rlike("(?i)^*s$").show()
                                                                        ^
SyntaxError: unexpected EOF while parsing

In [0]:
8. Filter on an Array column
When you want to filter rows from DataFrame based on value present in an array collection column, you can use the first syntax. The below example uses array_contains() from Pyspark SQL functions which checks if a value contains in an array if present it returns true otherwise false.


from pyspark.sql.functions import array_contains
df.filter(array_contains(df.languages,"Java")) \
    .show(truncate=False) 
9. Filtering on Nested Struct columns
If your DataFrame consists of nested struct columns, you can use any of the above syntaxes to filter the rows based on the nested column.


  //Struct condition
df.filter(df.name.lastname == "Williams") \
    .show(truncate=False)

In [0]:
from pyspark.sql.functions import array_contains
dataframe200.filter(array_contains(dataframe200.language,"Java")).show()
dataframe200.filter(array_contains(dataframe200.language,"Python")).show()
dataframe200.filter(dataframe200.name.lname == "Williams").show()

+--------------+------------------+-----+------+
|          name|          language|state|gender|
+--------------+------------------+-----+------+
|{Anna, Rose, }|[Spark, Java, C++]|   NY|     F|
+--------------+------------------+-----+------+

+--------------------+------------+-----+------+
|                name|    language|state|gender|
+--------------------+------------+-----+------+
|{Mike, Mary, Will...|[Python, VB]|   OH|     M|
+--------------------+------------+-----+------+

+--------------------+------------+-----+------+
|                name|    language|state|gender|
+--------------------+------------+-----+------+
| {Julia, , Williams}|[CSharp, VB]|   OH|     F|
|{Mike, Mary, Will...|[Python, VB]|   OH|     M|
+--------------------+------------+-----+------+

In [0]:
PySpark Distinct to Drop Duplicate Rows
PySpark distinct() function is used to drop/remove the duplicate rows (all columns) from DataFrame and dropDuplicates() is used to drop rows based on selected (one or multiple) columns. In this article, you will learn how to use distinct() and dropDuplicates() functions with PySpark example.

Before we start, first let’s create a DataFrame with some duplicate rows and values on a few columns. We use this DataFrame to demonstrate how to get distinct multiple columns.
# Prepare Data
data = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]

# Create DataFrame
columns= ["employee_name", "department", "salary"]
df = spark.createDataFrame(data = data, schema = columns)
df.printSchema()
df.show(truncate=False)

1. Get Distinct Rows (By Comparing All Columns)
On the above DataFrame, we have a total of 10 rows with 2 rows having all values duplicated, performing distinct on this DataFrame should get us 9 after removing 1 duplicate row.


distinctDF = df.distinct()
print("Distinct count: "+str(distinctDF.count()))
distinctDF.show(truncate=False)
distinct() function on DataFrame returns a new DataFrame after removing the duplicate records. This example yields the below output.

Alternatively, you can also run dropDuplicates() function which returns a new DataFrame after removing duplicate rows.

2. PySpark Distinct of Selected Multiple Columns
PySpark doesn’t have a distinct method that takes columns that should run distinct on (drop duplicate rows on selected multiple columns) however, it provides another signature of dropDuplicates() function which takes multiple columns to eliminate duplicates.

Note that calling dropDuplicates() on DataFrame returns a new DataFrame with duplicate rows removed.


dropDisDF = df.dropDuplicates(["department","salary"])
print("Distinct count of department & salary : "+str(dropDisDF.count()))
dropDisDF.show(truncate=False)
Yields below output. If you notice the output, It dropped 2 records that are duplicates.

In [0]:
data_1 = [("James", "Sales", 3000), \
    ("Michael", "Sales", 4600), \
    ("Robert", "Sales", 4100), \
    ("Maria", "Finance", 3000), \
    ("James", "Sales", 3000), \
    ("Scott", "Finance", 3300), \
    ("Jen", "Finance", 3900), \
    ("Jeff", "Marketing", 3000), \
    ("Kumar", "Marketing", 2000), \
    ("Saif", "Sales", 4100) \
  ]
columns_1 = ["employee_name", "department", "salary"]
df100=spark.createDataFrame(data=data_1,schema= columns_1)
df100.printSchema()
df100.show(truncate = False)
print("total records:"+str(df100.count()))

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- salary: long (nullable = true)

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|James        |Sales     |3000  |
|Michael      |Sales     |4600  |
|Robert       |Sales     |4100  |
|Maria        |Finance   |3000  |
|James        |Sales     |3000  |
|Scott        |Finance   |3300  |
|Jen          |Finance   |3900  |
|Jeff         |Marketing |3000  |
|Kumar        |Marketing |2000  |
|Saif         |Sales     |4100  |
+-------------+----------+------+

total records:10

In [0]:
from pyspark.sql.functions import expr
distinctDF = df100.distinct()
distinctDF.show()
print("distinct count:"+str(distinctDF.count()))

---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<command-32121595053191> in <module>
      1 from pyspark.sql.functions import expr
----> 2 distinctDF = df100.distinct()
      3 distinctDF.show()
      4 print("distinct count:"+str(distinctDF.count()))
      5

NameError: name 'df100' is not defined

In [0]:
dropdistDF = df100.dropDuplicates(["department","salary"])
dropdistDF.show()
print("distinct count of dept & salary:"+str(dropdistDF.count()))

+-------------+----------+------+
|employee_name|department|salary|
+-------------+----------+------+
|        Maria|   Finance|  3000|
|        Scott|   Finance|  3300|
|          Jen|   Finance|  3900|
|        Kumar| Marketing|  2000|
|         Jeff| Marketing|  3000|
|        James|     Sales|  3000|
|       Robert|     Sales|  4100|
|      Michael|     Sales|  4600|
+-------------+----------+------+

distinct count of dept & salary:8

In [0]:
PySpark orderBy() and sort() explained
You can use either sort() or orderBy() function of PySpark DataFrame to sort DataFrame by ascending or descending order based on single or multiple columns, you can also do sorting using PySpark SQL sorting functions, In this article, I will explain all these different ways using PySpark examples.

Using sort() function
Using orderBy() function
Ascending order
Descending order
SQL Sort functions
simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Raman","Finance","CA",99000,40,24000), \
    ("Scott","Finance","NY",83000,36,19000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns= ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data = simpleData, schema = columns)
df.printSchema()
df.show(truncate=False)

In [0]:
import pyspark
#from pyspark.sql.functions 
#from pyspark.sql.items
simpleData = [("James","Sales","NY",90000,34,10000), \
    ("Michael","Sales","NY",86000,56,20000), \
    ("Robert","Sales","CA",81000,30,23000), \
    ("Maria","Finance","CA",90000,24,23000), \
    ("Raman","Finance","CA",99000,40,24000), \
    ("Scott","Finance","NY",83000,36,19000), \
    ("Jen","Finance","NY",79000,53,15000), \
    ("Jeff","Marketing","CA",80000,25,18000), \
    ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns_names = ["employee_name","department","state","salary","age","bonus"]
df200 = spark.createDataFrame(data = simpleData ,schema = columns_names)
df200.printSchema()
df200.show()

root
 |-- employee_name: string (nullable = true)
 |-- department: string (nullable = true)
 |-- state: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- bonus: long (nullable = true)

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
+-------------+----------+-----+------+---+-----+

In [0]:
DataFrame sorting using the sort() function
PySpark DataFrame class provides sort() function to sort on one or more columns. By default, it sorts by ascending order.

Syntax
sort(self, *cols, **kwargs):
    df.sort("department","state").show(truncate=False)
df.sort(col("department"),col("state")).show(truncate=False)
DataFrame sorting using orderBy() function
PySpark DataFrame also provides orderBy() function to sort on one or more columns. By default, it orders by ascending.

df.orderBy("department","state").show(truncate=False)
df.orderBy(col("department"),col("state")).show(truncate=False)
This returns the same output as the previous section.

Sort by Ascending (ASC)
If you wanted to specify the ascending order/sort explicitly on DataFrame, you can use the asc method of the Column function. for example


df.sort(df.department.asc(),df.state.asc()).show(truncate=False)
df.sort(col("department").asc(),col("state").asc()).show(truncate=False)
df.orderBy(col("department").asc(),col("state").asc()).show(truncate=False)

Sort by Descending (DESC)
If you wanted to specify the sorting by descending order on DataFrame, you can use the desc method of the Column function. for example. From our example, let’s use desc on the state column.


df.sort(df.department.asc(),df.state.desc()).show(truncate=False)
df.sort(col("department").asc(),col("state").desc()).show(truncate=False)
df.orderBy(col("department").asc(),col("state").desc()).show(truncate=False)

Using Raw SQL
Below is an example of how to sort DataFrame using raw SQL syntax.
df.createOrReplaceTempView("EMP")
spark.sql("select employee_name,department,state,salary,age,bonus from EMP ORDER BY department asc").show(truncate=False)

In [0]:
from pyspark.sql.functions import col
df200.sort("department","state").show()
df200.sort(col("department"),col("state")).show()
df200.sort(col("department").asc(),col("state").asc()).show()
df200.sort(df200.department.desc()).show()
df200.createOrReplaceTempView("EMP")
spark.sql("select * from emp ORDER BY department asc").show()
spark.sql("select employee_name,bonus from emp where department = 'Finance' ORDER BY employee_name").show()

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Raman|   Finance|   CA| 99000| 40|24000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        James|     Sales|   NY| 90000| 34|10000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|        James|     Sales|   NY| 90000| 34|10000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|        Maria|   Finance|   CA| 90000| 24|23000|
+-------------+----------+-----+------+---+-----+

+-------------+----------+-----+------+---+-----+
|employee_name|department|state|salary|age|bonus|
+-------------+----------+-----+------+---+-----+
|          Jen|   Finance|   NY| 79000| 53|15000|
|        Maria|   Finance|   CA| 90000| 24|23000|
|        Scott|   Finance|   NY| 83000| 36|19000|
|        Raman|   Finance|   CA| 99000| 40|24000|
|         Jeff| Marketing|   CA| 80000| 25|18000|
|        Kumar| Marketing|   NY| 91000| 50|21000|
|       Robert|     Sales|   CA| 81000| 30|23000|
|      Michael|     Sales|   NY| 86000| 56|20000|
|        James|     Sales|   NY| 90000| 34|10000|
+-------------+----------+-----+------+---+-----+

+-------------+-----+
|employee_name|bonus|
+-------------+-----+
|          Jen|15000|
|        Maria|23000|
|        Raman|24000|
|        Scott|19000|
+-------------+-----+