In [0]:
columns = ["language","user_count"]
data = [("java","20000"),("python","10000"),("scala","3000")]

In [0]:
first, letâ€™s create a Spark RDD from a collection List by calling parallelize() function from SparkContext . We would need this rdd object for all our examples below.
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
rdd = spark.sparkContext.parallelize(data)

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
rdd = spark.sparkContext.parallelize(data)

In [0]:
dfFromRDD1= rdd.toDF()
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [0]:
columns = ["language","user_count"]
dfFromrRDD = rdd.toDF(columns)
dfFromrRDD.printSchema()

root
 |-- language: string (nullable = true)
 |-- user_count: string (nullable = true)

In [0]:

dfFromRDD2 = spark.createDataFrame(rdd).toDF(*columns)

In [0]:

dfFromData2 = spark.createDataFrame(data).toDF(*columns)

In [0]:
import pyspark
from pyspark.sql import Row
rowData = map(lambda x: Row(*x), data) 
dfFromData3 = spark.createDataFrame(rowData,columns)

In [0]:

from pyspark.sql.types import StructType,StructField, StringType, IntegerType
data2 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])
 
df = spark.createDataFrame(data=data2,schema=schema)
df.printSchema()
df.show(truncate=False)

In [0]:
import pyspark
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
data2 = [("James","","Smith",36636,"M",3000),
    ("Michael","Rose","",40288,"M",4000),
    ("Robert","","Williams",42114,"M",4000),
    ("Maria","Anne","Jones",39192,"F",4000),
    ("Jen","Mary","Brown",1234,"F",-1)]

schema = StructType([\
         StructField("firstname",StringType(),True), \
         StructField("middlename",StringType(),True), \
         StructField("lastname",StringType(),True), \
         StructField("id",IntegerType(),True), \
         StructField("gender",StringType(),True), \
         StructField("salary",IntegerType(),True) \
                 ])
df = spark.createDataFrame(data = data2,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |1234 |F     |-1    |
+---------+----------+--------+-----+------+------+