In [0]:
columns = ["language","user_count"]
data = [("java","20000"),("python","10000"),("scala","3000")]

In [0]:
first, let’s create a Spark RDD from a collection List by calling parallelize() function from SparkContext . We would need this rdd object for all our examples below.
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
rdd = spark.sparkContext.parallelize(data)

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
rdd = spark.sparkContext.parallelize(data)

In [0]:
dfFromRDD1= rdd.toDF()
dfFromRDD1.printSchema()

root
 |-- _1: string (nullable = true)
 |-- _2: string (nullable = true)

In [0]:
columns = ["language","user_count"]
dfFromrRDD = rdd.toDF(columns)
dfFromrRDD.printSchema()

root
 |-- language: string (nullable = true)
 |-- user_count: string (nullable = true)

In [0]:

dfFromRDD2 = spark.createDataFrame(rdd).toDF(*columns)

In [0]:

dfFromData2 = spark.createDataFrame(data).toDF(*columns)

In [0]:
import pyspark
from pyspark.sql import Row
rowData = map(lambda x: Row(*x), data) 
dfFromData3 = spark.createDataFrame(rowData,columns)

In [0]:

from pyspark.sql.types import StructType,StructField, StringType, IntegerType
data2 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
  ]

schema = StructType([ \
    StructField("firstname",StringType(),True), \
    StructField("middlename",StringType(),True), \
    StructField("lastname",StringType(),True), \
    StructField("id", StringType(), True), \
    StructField("gender", StringType(), True), \
    StructField("salary", IntegerType(), True) \
  ])
 
df = spark.createDataFrame(data=data2,schema=schema)
df.printSchema()
df.show(truncate=False)

In [0]:
import pyspark
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
data2 = [("James","","Smith",36636,"M",3000),
    ("Michael","Rose","",40288,"M",4000),
    ("Robert","","Williams",42114,"M",4000),
    ("Maria","Anne","Jones",39192,"F",4000),
    ("Jen","Mary","Brown",1234,"F",-1)]

schema = StructType([\
         StructField("firstname",StringType(),True), \
         StructField("middlename",StringType(),True), \
         StructField("lastname",StringType(),True), \
         StructField("id",IntegerType(),True), \
         StructField("gender",StringType(),True), \
         StructField("salary",IntegerType(),True) \
                 ])
df = spark.createDataFrame(data = data2,schema=schema)
df.printSchema()
df.show(truncate=False)

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |1234 |F     |-1    |
+---------+----------+--------+-----+------+------+

In [0]:
1. Create Empty RDD in PySpark
Create an empty RDD by using emptyRDD() of SparkContext for example spark.sparkContext.emptyRDD().

In [0]:

from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

#Creates Empty RDD
emptyRDD = spark.sparkContext.emptyRDD()
print(emptyRDD)

#Diplays
#EmptyRDD[188] at emptyRDD

#Creates Empty RDD using parallelize
rdd2= spark.sparkContext.parallelize([])
print(rdd2)

#EmptyRDD[205] at emptyRDD at NativeMethodAccessorImpl.java:0
#ParallelCollectionRDD[206] at readRDDFromFile at PythonRDD.scala:262

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
#create empty RDD
emptyRDD = spark.sparkContext.emptyRDD()
print(emptyRDD)

EmptyRDD[2] at emptyRDD at NativeMethodAccessorImpl.java:0

In [0]:
emptyRRD2 = spark.sparkContext.Parallelize([])
print(emptyRDD2)

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
<command-392957826950563> in <module>
----> 1 emptyRRD2 = spark.sparkContext.Parallelize([])
      2 print(emptyRDD2)

AttributeError: 'RemoteContext' object has no attribute 'Parallelize'

In [0]:
2. Create Empty DataFrame with Schema (StructType)
In order to create an empty PySpark DataFrame manually with schema ( column names & data types) first, Create a schema using StructType and StructField .

In [0]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DateType
schema = StructType([
    StructField('fisstname',StringType(), True),
    StructField('Lastname',StringType(),True),
    StructField('Middlename',StringType(),True),
    StructField('Id',IntegerType(),True),
    StructField('Date',DateType(),True)
])
#Now use the empty RDD created above and pass it to createDataFrame() of SparkSession along with the schema for column names & data types.
#create empty RRD
df= spark.createDataFrame(emptyRDD,schema)
df.printSchema()

root
 |-- fisstname: string (nullable = true)
 |-- Lastname: string (nullable = true)
 |-- Middlename: string (nullable = true)
 |-- Id: integer (nullable = true)
 |-- Date: date (nullable = true)

In [0]:
3. Convert Empty RDD to DataFrame
You can also create empty DataFrame by converting empty RDD to DataFrame using toDF().

In [0]:
#convert empty RDD to dataframe DF()
df1 = emptyRDD.toDF(schema)
df1.printSchema()

root
 |-- fisstname: string (nullable = true)
 |-- Lastname: string (nullable = true)
 |-- Middlename: string (nullable = true)
 |-- Id: integer (nullable = true)
 |-- Date: date (nullable = true)

In [0]:
4. Create Empty DataFrame with Schema.
So far I have covered creating an empty DataFrame from RDD, but here will create it manually with schema and without RDD.

In [0]:
df2 = spark.createDataFrame([],schema)
df2.printSchema()

root
 |-- fisstname: string (nullable = true)
 |-- Lastname: string (nullable = true)
 |-- Middlename: string (nullable = true)
 |-- Id: integer (nullable = true)
 |-- Date: date (nullable = true)

In [0]:
#5. Create Empty DataFrame without Schema (no columns)
#To create empty DataFrame with out schema (no columns) just create a empty schema and use it while creating PySpark DataFrame.

In [0]:
#create empty dataframe woth no schema(no columns)
df3= spark.createDataFrame([],StructType([]))
df3.printSchema()

root

In [0]:
#Convert PySpark RDD to DataFrame
#1. Create PySpark RDD
#First, let’s create an RDD by passing Python list object to sparkContext.parallelize() function. We would need this rdd object for all our examples below.

#In PySpark, when you have data in a list meaning you have a collection of data in a PySpark driver memory when you create an RDD, this collection is going to be parallelized.


from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
dept = [("Finance",10),("Marketing",20),("Sales",30),("IT",40)]
rdd = spark.sparkContext.parallelize(dept)

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
dept = [("finanace",10),("Marketing",20),("sales",30),("IT",40)]
rdd = spark.sparkContext.parallelize(dept)

In [0]:
2. Convert PySpark RDD to DataFrame
Converting PySpark RDD to DataFrame can be done using toDF(), createDataFrame(). In this section, I will explain these two methods.
2.1 Using rdd.toDF() function
PySpark provides toDF() function in RDD which can be used to convert RDD into Dataframe


df = rdd.toDF()
df.printSchema()
df.show(truncate=False)

In [0]:
df = rdd.toDF()
df.printSchema()
df.show(truncate=False)

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)

+---------+---+
|_1       |_2 |
+---------+---+
|finanace |10 |
|Marketing|20 |
|sales    |30 |
|IT       |40 |
+---------+---+

In [0]:
depColumns = [("dept_name"),("dept_id")]
df2 = rdd.toDF(depColumns)
df2.printSchema()
df2.show(truncate = False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|finanace |10     |
|Marketing|20     |
|sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:
2.2 Using PySpark createDataFrame() function
SparkSession class provides createDataFrame() method to create DataFrame and it takes rdd object as an argument.


deptDF = spark.createDataFrame(rdd, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

  File "<command-392957826950577>", line 1
    2.2 Using PySpark createDataFrame() function
        ^
SyntaxError: invalid syntax

In [0]:

deptDF = spark.createDataFrame(rdd,schema= depColumns)
deptDF.printSchema()
deptDF.show(truncate = False)

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|finanace |10     |
|Marketing|20     |
|sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:
import pyspark
from pyspark.sql.types  import StructType,StructField,StringType,IntegerType, DateType
deptschema = StructType([
    StructField("dept_name", StringType(),True),
    StructField("Dept_id",IntegerType(),True)
])

Df4 = spark.createDataFrame(rdd , schema = deptschema)
Df4.printSchema()
Df4.show(truncate = False)

root
 |-- dept_name: string (nullable = true)
 |-- Dept_id: integer (nullable = true)

+---------+-------+
|dept_name|Dept_id|
+---------+-------+
|finanace |10     |
|Marketing|20     |
|sales    |30     |
|IT       |40     |
+---------+-------+

In [0]:

Convert PySpark DataFrame to Pandas

import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()

data = [("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)]

columns = ["first_name","middle_name","last_name","dob","gender","salary"]
pysparkDF = spark.createDataFrame(data = data, schema = columns)
pysparkDF.printSchema()
pysparkDF.show(truncate=False)

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [("James","","Smith","36636","M",60000),
        ("Michael","Rose","","40288","M",70000),
        ("Robert","","Williams","42114","",400000),
        ("Maria","Anne","Jones","39192","F",500000),
        ("Jen","Mary","Brown","","F",0)
       ]
columns = ["first_name","middle_name","last_name","dob","gender","salary"]
pysparkDF = spark.createDataFrame(data = data , schema = columns)
pysparkDF.printSchema()
pysparkDF.show(truncate = False)

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|dob  |gender|salary|
+----------+-----------+---------+-----+------+------+
|James     |           |Smith    |36636|M     |60000 |
|Michael   |Rose       |         |40288|M     |70000 |
|Robert    |           |Williams |42114|      |400000|
|Maria     |Anne       |Jones    |39192|F     |500000|
|Jen       |Mary       |Brown    |     |F     |0     |
+----------+-----------+---------+-----+------+------+

In [0]:
columnsdattypes = StructType([StructField("first_name", StringType(), True),
                              StructField("middle_name",StringType(),True),
                              StructField("last_name",StringType(),True),
                              StructField("dob",StringType(),True),
                              StructField("gender",StringType(), True),
                              StructField("salary",IntegerType(),True)
                             ])
pysparkDf = spark.createDataFrame(data = data , schema = columnsdattypes)
pysparkDf.printSchema()
pysparkDf.show(truncate = False)

root
 |-- first_name: string (nullable = true)
 |-- middle_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+----------+-----------+---------+-----+------+------+
|first_name|middle_name|last_name|dob  |gender|salary|
+----------+-----------+---------+-----+------+------+
|James     |           |Smith    |36636|M     |60000 |
|Michael   |Rose       |         |40288|M     |70000 |
|Robert    |           |Williams |42114|      |400000|
|Maria     |Anne       |Jones    |39192|F     |500000|
|Jen       |Mary       |Brown    |     |F     |0     |
+----------+-----------+---------+-----+------+------+

In [0]:
Convert PySpark Dataframe to Pandas DataFrame
PySpark DataFrame provides a method toPandas() to convert it to Python Pandas DataFrame.

In [0]:
pandasDF = pysparkDf.toPandas()
print(pandasDF)

  first_name middle_name last_name    dob gender  salary
0      James                 Smith  36636      M   60000
1    Michael        Rose            40288      M   70000
2     Robert              Williams  42114         400000
3      Maria        Anne     Jones  39192      F  500000
4        Jen        Mary     Brown             F       0

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('SparkByExamples.com').getOrCreate()
data = [(("James","","Smith"),"36636","M",60000),
        (("Michael","Rose",""),"40288","M",70000),
        (("Robert","","Williams"),"42114","",400000),
        (("Maria","Anne","Jones"),"39192","F",500000),
        (("Jen","Mary","Brown"),"","F",0)
       ]
columns = ["first_name","middle_name","last_name","dob","gender","salary"]

pysparkDF = spark.createDataFrame(data = data , schema = columns)
pysparkDF.printSchema()
pysparkDF.show(truncate = False)

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<command-1603522030302347> in <module>
      9        ]
     10 #columns = ["first_name","middle_name","last_name","dob","gender","salary"]
---> 11 pysparkDF = spark.createDataFrame(data = data , schema = columns)
     12 pysparkDF.printSchema()
     13 pysparkDF.show(truncate = False)

/databricks/spark/python/pyspark/sql/session.py in createDataFrame(self, data, schema, samplingRatio, verifySchema)
    720             return super(SparkSession, self).createDataFrame(
    721                 data, schema, samplingRatio, verifySchema)
--> 722         return self._create_dataframe(data, schema, samplingRatio, verifySchema)
    723
    724     def _create_dataframe(self, data, schema, samplingRatio, verifySchema):

/databricks/spark/python/pyspark/sql/session.py in _create_dataframe(self, data, schema, samplingRatio, verifySchema)
    752                 rdd, schema = self._createFromRDD(data.map(prepare), schema, samplingRatio)
    753             else:
--> 754                 rdd, schema = self._createFromLocal(map(prepare, data), schema)
    755             jrdd = self._jvm.SerDeUtil.toJavaArray(rdd._to_java_object_rdd())
    756             jdf = self._jsparkSession.applySchemaToPythonRDD(jrdd.rdd(), schema.json())

/databricks/spark/python/pyspark/sql/session.py in _createFromLocal(self, data, schema)
    528         write temp files.
    529         """
--> 530         data, schema = self._wrap_data_schema(data, schema)
    531         return self._sc.parallelize(data), schema
    532

/databricks/spark/python/pyspark/sql/session.py in _wrap_data_schema(self, data, schema)
    512             if isinstance(schema, (list, tuple)):
    513                 for i, name in enumerate(schema):
--> 514                     struct.fields[i].name = name
    515                     struct.names[i] = name
    516             schema = struct

IndexError: list index out of range

In [0]:
data1 = [(("James","","Smith"),"36636","M",60000),\
        (("Michael","Rose",""),"40288","M",70000),\
        (("Robert","","Williams"),"42114","",400000),\
        (("Maria","Anne","Jones"),"39192","F",500000),\
        (("Jen","Mary","Brown"),"","F",0)\
]

datastruct = StructType([
    StructField("name",StructType([StructField('first_name',StringType(),True),
                                   StructField('middle_name',StringType(),True),
                                   StructField('last_name',StringType(),True)])),
     StructField('dob', StringType(), True),
         StructField('gender', StringType(), True),
         StructField('salary', IntegerType(), True)
])

dataDF = spark.createDataFrame(data = data1 , schema = datastruct)
dataDF.printSchema()
pandaDF = dataDF.toPandas()
print(pandaDF)

root
 |-- name: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- middle_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

                                                name    dob gender  salary
0  {'first_name': 'James', 'middle_name': '', 'la...  36636      M   60000
1  {'first_name': 'Michael', 'middle_name': 'Rose...  40288      M   70000
2  {'first_name': 'Robert', 'middle_name': '', 'l...  42114         400000
3  {'first_name': 'Maria', 'middle_name': 'Anne',...  39192      F  500000
4  {'first_name': 'Jen', 'middle_name': 'Mary', '...             F       0

In [0]:
PySpark show() – Display DataFrame Contents in Table

In [0]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Sparkbyexample.com').getOrCreate()
columns = ["Seqno","Quote"]
data = [("1", "Be the change that you wish to see in the world"),
    ("2", "Everyone thinks of changing the world, but no one thinks of changing himself."),
    ("3", "The purpose of our lives is to be happy."),
    ("4", "Be cool.")]
dataFrame = spark.createDataFrame(data = data , schema = columns)
dataFrame.printSchema()
dataframe.show(trunacte = False)# diplay full content in column.
dataframe.show(2,trunacte = False)# diplay 2 rows and  full content in  two columns.
dataFrame.show(truncate = False,vertical=True)# diplay columns  and  values vertically.

root
 |-- Seqno: string (nullable = true)
 |-- Quote: string (nullable = true)

-RECORD 0------------------------------------------------------------------------------
 Seqno | 1
 Quote | Be the change that you wish to see in the world
-RECORD 1------------------------------------------------------------------------------
 Seqno | 2
 Quote | Everyone thinks of changing the world, but no one thinks of changing himself.
-RECORD 2------------------------------------------------------------------------------
 Seqno | 3
 Quote | The purpose of our lives is to be happy.
-RECORD 3------------------------------------------------------------------------------
 Seqno | 4
 Quote | Be cool.

In [0]:
PySpark StructType & StructField Explained with Examples

In [0]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField,StringType,IntegerType,DateType
spark = SparkSession.builder.appName('SparkByExample.com').getOrCreate()
                                    
data1 = [("James","","Smith","36636","M",3000),
    ("Michael","Rose","","40288","M",4000),
    ("Robert","","Williams","42114","M",4000),
    ("Maria","Anne","Jones","39192","F",4000),
    ("Jen","Mary","Brown","","F",-1)
        ]
       
schemastruct = StructType([\
                          StructField("Firstname",StringType(),True),\
                    StructField("middlename",StringType(),True),\
                    StructField("lastname",StringType(),True),\
                    StructField("id",StringType(),True),\
                    StructField("gender",StringType(),True),\
                    StructField("salary",IntegerType(),True)\
                   ])
df = spark.createDataFrame(data = data1, schema = schemastruct)
df.printSchema()
df.show(truncate = False)

root
 |-- Firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+---------+----------+--------+-----+------+------+
|Firstname|middlename|lastname|id   |gender|salary|
+---------+----------+--------+-----+------+------+
|James    |          |Smith   |36636|M     |3000  |
|Michael  |Rose      |        |40288|M     |4000  |
|Robert   |          |Williams|42114|M     |4000  |
|Maria    |Anne      |Jones   |39192|F     |4000  |
|Jen      |Mary      |Brown   |     |F     |-1    |
+---------+----------+--------+-----+------+------+

In [0]:
4. Defining Nested StructType object struct
While working on DataFrame we often need to work with the nested struct column and this can be defined using StructType.

In [0]:
nesteddata = [(("James","","Smith"),"36636","M",3000),
    (("Michael","Rose",""),"40288","M",4000),
    (("Robert","","Williams"),"42114","M",4000),
    (("Maria","Anne","Jones"),"39192","F",4000),
    (("Jen","Mary","Brown"),"","F",-1)
        ]
nestedstruct = StructType([
    StructField("name",StructType([StructField("Firstname",StringType(),True),
                                    StructField("middlename",StringType(),True),
                                    StructField("lastname",StringType(),True) 
                                  ])),
    StructField("id",StringType(),True),
    StructField("gender",StringType(),True),
    StructField("salary",IntegerType(),True)
    
])

DF2 = spark.createDataFrame(data = nesteddata, schema = nestedstruct)
DF2.printSchema()
DF2.show(truncate = False)

root
 |-- name: struct (nullable = true)
 |    |-- Firstname: string (nullable = true)
 |    |-- middlename: string (nullable = true)
 |    |-- lastname: string (nullable = true)
 |-- id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

+--------------------+-----+------+------+
|name                |id   |gender|salary|
+--------------------+-----+------+------+
|{James, , Smith}    |36636|M     |3000  |
|{Michael, Rose, }   |40288|M     |4000  |
|{Robert, , Williams}|42114|M     |4000  |
|{Maria, Anne, Jones}|39192|F     |4000  |
|{Jen, Mary, Brown}  |     |F     |-1    |
+--------------------+-----+------+------+

In [0]:
5. Adding & Changing struct of the DataFrame
Using PySpark SQL function struct(), we can change the struct of the existing DataFrame and add a new StructType to it. The below example demonstrates how to copy the columns from one structure to another and adding a new column. PySpark Column Class also provides some functions to work with the StructType column.